<div class="container">
  <div class="row-offcanvas">
  <%= render partial: "menu_oportunidades", locals: {tipo: 'bolsas_permanencia'}%>
  <article class="col-sm-9 col-xs-12">
  	<h1>Programa de Bolsa Permanência do MEC - PBP</h1>
  	  <p>  Em linhas gerais, o Programa de Bolsa Permanência – PBP é uma ação do Governo Federal de concessão de auxílio financeiro a estudantes matriculados em instituições federais de ensino superior em situação de vulnerabilidade socioeconômica e para estudantes indígenas e quilombolas. O recurso é pago diretamente ao estudante de graduação por meio de um cartão de benefício.</p>

  	<h2>QUEM PODE SE INSCREVER?</h2>

  	<p>
   		I   – possuir renda familiar per capita não superior a um salário-mínimo e meio;<br/>
    	II  – estar matriculado em cursos de graduação com carga horária média superior ou igual a cinco horas diárias;<br/>
    	III – não ultrapassar dois semestres do tempo regulamentar do curso de graduação em que estiver matriculado para se diplomar;<br/>
    	IV  –  ter assinado Termo de Compromisso;<br/>
    	V   – ter seu cadastro devidamente aprovado e mensalmente homologado pela instituição federal de ensino superior no âmbito do sistema de informação do programa.<br/>
  	</p>
  	<p>
    	Segundo informações da Pró-Reitoria de Planejamento, somente os cursos de Medicina e Biomedicina na UNIRIO cumprem os critérios referentes a carga horária [carga horária média superior ou igual a cinco horas diárias]. Dessa forma, somente alunos desses cursos podem se inscrever.
  	</p>
  	<p>
    	Além destes, os estudantes quilombolas e indígenas também poderão se inscrever, independentemente da carga horária dos cursos em que estiverem matriculados e da renda familiar, conforme estabelecido na Portaria MEC nº 389, de 9 de maio de 2013.
  	</p>

  	<h2>PROCEDIMENTOS PARA INSCRIÇÃO</h2>

  	<p>
    	O aluno deverá acessar o site <%=link_to 'http://permanencia.mec.gov.br', 'http://permanencia.mec.gov.br'%>, no link SISTEMA PBP e fazer o cadastramento no Sistema de Gerenciamento de Bolsas por meio do preenchimento dos dados do questionário do perfil socioeconômico e cultural na plataforma.
   	    Imprimir o Termo de Compromisso a ser assinado e entregue junto com o seguinte formulário e com a documentação listada.
    	Entregar a documentação, juntamente com o formulário devidamente preenchido e o Termo de Compromisso na DACE às terças OU sextas, das 9 às 16h.
  	</p>  
  	<%=link_to 'Fonte - http://www.daceunirio.blogspot.com.br/search/label/Programa%20Bolsa%20Perman%C3%AAncia','http://www.daceunirio.blogspot.com.br/search/label/Programa%20Bolsa%20Perman%C3%AAncia' %> 
  </article>
  </div>
</div>






