<div class="container">
  <div class="row-offcanvas">
  <%= render partial: "menu_oportunidades", locals: {tipo: 'ciencia_sem_fronteira'}%>
   <article class="col-sm-9 col-xs-12">

    <h1>Ciência sem Fronteiras</h1>

 

	<p>O Ciência sem Fronteiras é um programa que busca promover a consolidação, expansão e internacionalização da ciência e tecnologia, da inovação e da competitividade brasileira por meio do intercâmbio e da mobilidade internacional. A iniciativa é fruto de esforço conjunto dos Ministérios da Ciência, Tecnologia e Inovação (MCTI) e do Ministério da Educação (MEC), por meio de suas respectivas instituições de fomento – CNPq e Capes –, e Secretarias de Ensino Superior e de Ensino Tecnológico do MEC.</p>

	<p>O projeto prevê a utilização de até 101 mil bolsas em quatro anos para promover intercâmbio, de forma que alunos de graduação e pós-graduação façam estágio no exterior com a finalidade de manter contato com sistemas educacionais competitivos em relação à tecnologia e inovação. Além disso, busca atrair pesquisadores do exterior que queiram se fixar no Brasil ou estabelecer parcerias com os pesquisadores brasileiros nas áreas prioritárias definidas no Programa, bem como criar oportunidade para que pesquisadores de empresas recebam treinamento especializado no exterior.</p>

	<p>No Programa Ciência sem Fronteiras, as áreas contempladas são:<p>
	<ul>
    	<li> Engenharias e demais áreas tecnológicas; </li>
    	<li> Ciências Exatas e da Terra; </li>
    	<li> Biologia, Ciências Biomédicas e da Saúde; </li>
    	<li> Computação e Tecnologias da Informação; </li>
    	<li> Tecnologia Aeroespacial; </li>
    	<li> Fármacos; </li>
    	<li> Produção Agrícola Sustentável; </li>
    	<li> Petróleo, Gás e Carvão Mineral;</li>
    	<li> Energias Renováveis; </li>
    	<li> Tecnologia Mineral; </li>
    	<li> Biotecnologia; </li>
    	<li> Nanotecnologia e Novos Materiais; </li>
    	<li> Tecnologias de Prevenção e Mitigação de Desastres Naturais; </li>
    	<li> Biodiversidade e Bioprospecção; </li>
    	<li> Ciências do Mar; </li>
    	<li> Indústria Criativa (voltada a produtos e processos para desenvolvimento tecnológico e inovação);</li>
    	<li> Novas Tecnologias de Engenharia Construtiva; </li>
    	<li> Formação de Tecnólogos. </li>
	<ul>    


	<h1>Modalidade de bolsas no exterior - Graduação Quem pode Participar</h1>


	<p>O candidato deve cumprir com os seguintes requisitos:</p>
	<ul>
	   <li>Ser brasileiro ou naturalizado;</li>
       <li>Estar regularmente matriculado em instituição de ensino superior no Brasil em cursos relacionados às áreas prioritárias do Ciência sem Fronteiras;</li>
       <li>Ter sido classificado com nota do Exame Nacional do Ensino Médio - ENEM - com no mínimo 600 pontos considerando os testes aplicados a partir de 2009;</li>
       <li> Possuir bom desempenho acadêmico;</li>
       <li>Ter concluído no mínimo 20% e no máximo 90% do currículo previsto para o curso de graduação.</li>
	</ul>	

    <h1>Será dada preferência aos candidatos que:</h1>
    <ul>
      <li>Foram agraciados com prêmios em olimpíadas científicas no país ou exterior;</li>
      <li>Tiveram ou estajam usufruindo de bolsa de iniciação científica ou tecnológica do CNPq (PIBIC/PIBITI) ou do PIBID da CAPES.</li>
    <ul>

    <h1>Benefícios</h1>
    <ul>
       <li>Mensalidade de bolsa;</li>
       <li>Auxílio-Instalação;</li>
       <li>Auxílio material didático;</li>
       <li>Passagens aéreas;</li>
       <li>Seguro Saúde.</li>
    </ul>

    <h1>Duração da bolsa</h1>
    <ul>
       <li>12 meses, podendo estender-se até 18 meses quando incluir curso de idioma;</li>
    <li> prazo de curso de idioma é apresentado na Chamada, variando de País e de acordo firmado firmado com as universidades no exterior</li>
    </ul>
    <br/>
    <p> <p> <%=link_to 'Fonte - http://www2.unirio.br/unirio/relacoesinternacionais/portugues/csf','http://www2.unirio.br/unirio/relacoesinternacionais/portugues/csf'%> </p></p>
   </article>
  </div>
</div>