<div class="container">
  <div class="row-offcanvas">
    <%= render partial: "menu_oportunidades", locals: {tipo: 'home'} %>

    <article class="col-sm-9 col-xs-12"> 

    <h1>Oportunidades</h1>

    <p>Esta área do site é destinada para a divulgação dos Seguintes Tipos de Oportunidades: </p>
    
    <ul>
       <li> Estágio </li>
	   <li>Bolsas Permanência</li>
	   <li>Jovens Talentos</li>
	   <li>Monitoria</li>
	   <li>Iniciação Científica</li>
	   <li>Ciência sem Fronteira</li>
	   <li>Mobilidade Acadêmica Nacional</li>
    </ul>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    </article>   
   </div>
</div> <!-- Container --> 
<br style="clear: both">
