<div class="container">
  <div class="row-offcanvas">
  <%= render partial: "menu_oportunidades", locals: {tipo: 'iniciacao_cientifica'}%>
   <article class="col-sm-9 col-xs-12">
<h1> Iniciação Científica </h1>   
<h2>1. FINALIDADE</h2>
  <p> O programa de Bolsas de Iniciação Científica (IC) é voltado para a formação de novos pesquisadores, em todas as áreas de conhecimento, buscando despertar a vocação científica em estudantes de graduação, por intermédio de sua participação ativa em projetos de pesquisa, aprovados em processo de seleção e orientados por pesquisadores qualificados.
  </p>

<h2>2. BOLSAS</h2>
	 <p> 2.1 - As bolsas serão concedidas por um período de 12 (doze) meses, admitindo-se renovação;</p>
	  <p>2.1.1 – Entende-se por renovação as solicitações subseqüentes de bolsa para o MESMO orientador e bolsista, que completarem todo o período da vigência anterior, mesmo que haja substituição do PROJETO de pesquisa;</p>
	  <p>2.2 - As bolsas de Iniciação Científica da UNIRIO e PIBIC/CNPq serão atribuídas exclusivamente a alunos regularmente
      matriculados em Curso de Graduação da UNIRIO, não havendo restrições quanto à idade e ao número de renovações. Não serão
      atribuídas bolsas de Iniciação Científica PIBIC/CNPq a alunos regularmente matriculados em Cursos de Graduação à Distância da
      UNIRIO;</p>
      <p>2.3 - Estarão impedidos de participar do processo de seleção, orientadores e
      bolsistas com pendências na apresentação de relatórios, na apresentação de propostas e na não participação, sem justificativa, na
      Jornada de Iniciação Científica da UNIRIO do período anterior.</p>
      <p>2.4 - Valor das Bolsas:
      - IC / UNIRIO - R$ 400,00 (mensal)
      - PIBIC / CNPq - R$ 400,00 (mensal);</p>
      <p>§único: em virtude da antecipação do fechamento do orçamento da União no mês de dezembro, o bolsista IC / UNIRIO será contemplado com os valores das bolsas referente aos meses de novembro e dezembro. Portanto, no mês de janeiro não haverá pagamento da bolsa IC / UNIRIO, voltando o pagamento a ser efetuado a partir de fevereiro.</p>
      <p>2.5 - A bolsa poderá ser cancelada:</p>
      <p>i) por desistência do aluno e com a anuência do orientador;</p>
      <p>ii) a pedido do orientador desde que haja justificativa; </p>
      <p>iii) por não cumprimento das exigências deste Edital;</p>
      <p>§único: nos casos i e ii, deverá ser enviado um e-mail para pesquisa.dpq@gmail.com solicitando o cancelamento com justificativa.</p>

      <p>2.6 – Não será concedida bolsa de iniciação científica para discentes da UNIRIO orientados por docentes de outra Instituição de Ensino Superior (IES), mesmo pertencentes a grupo de pesquisa sediado na UNIRIO ou a Programas de Pós-Graduação da UNIRIO.</p> <br/>

      <p> <%=link_to 'Adaptado de - www2.unirio.br/unirio/propg/departamento-de-pesquisa/editais/vigencia-de-bolsa-ic-2014-2015/edital-dpq-10-2013-para-concessao-de-bolsas-ic/at_download/file','www2.unirio.br/unirio/propg/departamento-de-pesquisa/editais/vigencia-de-bolsa-ic-2014-2015/edital-dpq-10-2013-para-concessao-de-bolsas-ic/at_download/file'%> </p>
   </article>
  </div>
</div>