<div class="container">
  <div class="row-offcanvas">
  <%= render partial: "menu_oportunidades", locals: {tipo: 'jovens_talentos'}%>
  <article class="col-sm-9 col-xs-12">
    <h1>JOVENS TALENTOS</h1>
	<p>
		O programa de incentivo à iniciação científica, Jovens Talentos para a Ciência, é destinado a estudantes de graduação de todas as áreas do conhecimento e tem o objetivo de inserir precocemente os estudantes no meio científico. Os estudantes recém-ingressos em universidades federais e institutos federais de educação são inscritos pela instituição de ensino superior. Os alunos são selecionados por universidade, mediante prova de conhecimentos gerais.
	</p>
   	</article>
   	<%=link_to 'Fonte - http://www.capes.gov.br/bolsas/programas-especiais/jovens-talentos-para-a-ciencia','http://www.capes.gov.br/bolsas/programas-especiais/jovens-talentos-para-a-ciencia' %> 
	</div>	
</div>