<div class="container">
  <div class="row-offcanvas">
  <%= render partial: "menu_oportunidades", locals: {tipo: 'mobilidade'}%>
  <article class="col-sm-9 col-xs-12">
  
  <h1>Mobilidade Acadêmica</h1>

	<p>
	  O Programa ANDIFES de Mobilidade Acadêmica foi criado em 2003 por meio de convênio firmado entre Instituições Federais de Ensino Superior (IFES). Esse Programa possibilita que o estudante regularmente matriculado em curso de graduação curse componentes curriculares em outra instituição de ensino conveniada, por até dois semestres letivos.
	</p>

	<p>
	  Pode realizar Mobilidade Acadêmica em âmbito nacional o estudante que tenha cursado, com aproveitamento, pelo menos 20% da carga-horária total do curso de origem e que apresente, no máximo, duas reprovações acumuladas nos dois semestres letivos que antecedem o pedido de participação no Programa.
	</p>

    <ul>
       Documentação necessária para participar do Programa:

   		 <li>Histórico escolar atualizado;</li>
    	 <li>Declaração de matrícula regular;</li>
    	 <li>Plano de atividades acadêmicas, que deve conter os componentes curriculares que o estudante pretende cursar na instituição de destino e as respectivas equivalências;</li>
    	 <li>Cópia de RG e CPF;</li>
    	 <li>Carta de apresentação do estudante, elaborada pela instituição de origem.</li>
    </ul>

    <h1>Atenção!</h1>

	  <p>
	  	O estudante deve se informar junto à Instituição de destino sobre o prazo estabelecido para recebimento de inscrições no Programa. Ele deve também solicitar as ementas das disciplinas do curso de graduação correspondente, viabilizando, assim, a elaboração do plano de estudos e a concessão de equivalências.
	  </p>

	  <p><%=link_to 'Fonte - http://www2.unirio.br/unirio/prograd/pasta-teste/saeg/mobilidade-academica','http://www2.unirio.br/unirio/prograd/pasta-teste/saeg/mobilidade-academica'%> </p>

	  
  </div>
</div>