<div class="container">
  <div class="row-offcanvas">
  <%= render partial: "menu_oportunidades", locals: {tipo: 'monitoria'}%>
   <article class="col-sm-9 col-xs-12">
     <h1> MONITORIA </h1>
      <p> Esta bolsa deve ser pedida por um professor, que representará um projeto ao colegiado de seu departamento. </p>
      <p> A bolsa de Projetos de Ensino de Graduação é destinada aos estudantes dos Cursos de Graduação que participam de Projetos de Ensino, ligados a componentes curriculares, sob a supervisão constante do coordenador do Projeto de Ensino.
      <p>A bolsa de monitoria depende de pedido do professor da disciplina e esse pedido é feito, em geral no final do ano letivo.</p>
      <p>O valor da bosa é de R$ 360,00</p>
   </article>
   	<%=link_to 'Fonte - http://www2.unirio.br/unirio/cla/ivl/links/manual_aluno_ingressante_rev.pdf','http://www2.unirio.br/unirio/cla/ivl/links/manual_aluno_ingressante_rev.pdf'%> 
	</div>	
</div>