<div class="container">
  <div class="row-offcanvas">
    <%= render partial: "menu_oportunidades", locals: {tipo: 'new'} %>
    <h1>Anunciar Oportunidades de Estágio</h1>
    <%= render 'form_oportunidades' %>
  </div>
</div>  
