<div class="container">
  <div class="row-offcanvas">
    <%= render partial: "oportunidades/menu_oportunidades", locals: {tipo: 'vazio'} %>
     <div>
  		<% flash.each do |key, value| %>
    	   <div>
      	     <a href="#" data-dismiss="alert">×</a>
             <%= value %>
           </div>
      <% end %>
     </div>
  </div>
</div>