<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
  <%= link_to 'Voltar para Oportunidades', oportunidades_home_path %>
</div>