<div class="container">
  <div class="row-offcanvas">
  <%= render partial: "/oportunidades/menu_oportunidades", locals: {tipo: 'divulgador'}%>
   <h1> Solicite o seu Cadastro Agora </h1>
    <%= render 'form_empresas' %>
  </div>
</div> 


