<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu ativo disciplinas"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Análise de Algoritmos - TIN0118</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: <a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a><br>
      Professor Responsável: <a href="http://lattes.cnpq.br/0398675521256529" target="_blank">Vânia Maria Félix Dias</a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Capacitar o aluno a analisar, avaliar e comparar a eficiência computacional de algoritmos. Qualificar o aluno no conhecimento de técnicas de projeto de algoritmos eficientes, quando possível, e na identificação da estratégia mais indicada em cada caso. Habilitar o aluno na identificação e reconhecimento de classificação da complexidade de problemas computacionais.</p>

    <h2>EMENTA</h2>
    <p>Critérios de análise, correção e eficiência. Análise de algoritmos: tempo de processamento e número de operações elementares, complexidade de pior caso. Algoritmos e estruturas de dados para problemas em grafos. Teoria da Complexidade: problemas de decisão, transformações polinomiais, classe P, algoritmos não determinísticos, classes NP e NP-completa.</p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>Ordem de Grandeza das Funções
        <ul>
          <li>Classes e Notação Assintótica</li>
          <li>Complexidades de Caso Médio e Pior Caso</li>
        </ul>
      </li>
      <li>Análises de Corretude e de Complexidade de Tempo em Algoritmos de Ordenação por comparações
        <ul>
          <li>Merge Sort</li>
          <li>Insertion Sort</li>
          <li>Bubble Sort</li>
          <li>Quick Sort</li>
          <li>Heap Sort</li>
        </ul>
      </li>
      <li>Divisão e Conquista
        <ul>
          <li>Definição e Aplicabilidade</li>
          <li>Recursão e Recorrência</li>
          <li>Algoritmos:
            <ul>
              <li>MergeSort</li>
              <li>Mediana</li>
              <li>Multiplicação de Matrizes</li>
            </ul>
          </li>
          <li>Técnicas de solução de Equações de Recorrência</li>
          <li>Teorema Mestre</li>
        </ul>
      </li>
      <li>Algoritmos Gulosos: definição e aplicabilidade
        <ul>
          <li>Problema da Árvore Geradora</li>
          <li>Mínima</li>
          <li>Problema da Mochila Fracionário</li>
          <li>Códigos de Huffman</li>
        </ul>
      </li>
      <li>Programação Dinâmica: definição e aplicabilidade
        <ul>
          <li>Algoritmos:
            <ul>
              <li>Problema da Subsequência Crescente Máxima</li>
              <li>Problema da Subsequência Comum mais Longa</li>
              <li>Problema da Multiplicação de Cadeias de Matrizes</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Representação de Grafos e Digrafos
        <ul>
          <li>Modelagem de Problemas em Grafos</li>
          <li>Algoritmos: Problema do Caminho Mais Curto em grafos a partir de vértice único ou para todos os pares
            <ul>
              <li>Algoritmo de Dijikstra</li>
              <li>Algoritmo de Bellman-Ford</li>
              <li>Algoritmo de Floyd-Warshall</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Classes de Problemas Computacionais
        <ul>
          <li>Problemas de Decisão</li>
          <li>Problemas de Localização e Otimização</li>
          <li>A classe P</li>
          <li>As classes NP e Co-NP</li>
          <li>A classe NP-Completo</li>
          <li>Transformações Polinominais</li>
          <li>Demonstrações de alguns Problemas NP-Completos:
            <ul>
              <li>Clique</li>
              <li>Cobertura de Vértices</li>
              <li>Conjunto Independente</li>
              <li>Ciclo Hamiltoniano</li>
            </ul>
          <li>Algoritmos Pseudo-Polinomiais</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p><b>Exposição de conteúdo:</b> nas aulas presenciais serão apresentados o conteúdo teórico e as diversas técnicas de projeto de algoritmos, através do uso intensivo de exemplos de solução de problemas utilizando cada uma das técnicas estudadas.<br>
      <b>Aprendizagem colaborativa:</b> para o entendimento do conteúdo serão apresentados problemas cujas soluções serão propostas e discutidas pelos alunos.<br>
      <b>Aprendizagem baseada em projeto:</b> a partir dos exemplos de problemas computacionais e técnicas de solução apresentados em sala, o aluno deverá desenvolver projetos de algoritmos para a solução de problemas propostos.
    </p>

    <h2>AVALIAÇÃO</h2>
    <p><b>Avaliação contínua:</b> ao longo da disciplina, o estudante apresentará em grupo aproximadamente 5 projetos de algoritmos, um para cada problema proposto, sendo cada um dos problemas correspondente a uma técnica específica de projeto de algoritmos estudada.<br>
      <b>Avaliação somativa:</b> ao longo da disciplina haverão duas avaliações com o objetivo de avaliar pontos específicos do conteúdo programático de forma individual.<br>
      <b>Cálculo da nota final:</b> (média dos trabalhos intermediários) / 2 + (média das provas) / 2.<br>
      Para ser aprovado na disciplina, o aluno precisa obter nota final acima de 5.
    </p>

    <h2>BIBLIOGRAFIA</h2>
    <ul>
      <li>CORMEN, Thomas H., LEISERSON, Charles E., RIVEST, Ronald L., STEIN, Clifford. <b>Algoritmos:</b> Teoria e Prática. Rio de Janeiro: Editora Campus, 2002.</li>
      <li>CORMEN, T.H.; LEISERSON, C.E.; & RIVEST, R.L.; STEIN, C. <b>Introduction to Algorithms</b> 3rd Ed.. The MIT Press, 2009.</li>
      <li>DASGUPTA , S.; PAPADIMITRIOU , C.H.; VAZIRANI , U.V. <a href="http://highered.mcgraw-hill.com/sites/0073523402/">Algorithms</a>, McGraw-Hill, 2006.</li>
      <li>KLEINBERG, Jon; TARDOS, Éva.  <a href="http://www.aw-bc.com/info/kleinberg/">Algorithm Design</a>, Addison-Wesley, 2005.</li>
      <li>CORMEN, T.H. <b>Algorithms Demystified</b>, MIT Press, 2012.</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">
