<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>
      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li class="ativo disciplinas"><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>
  </aside>

  <article>

    <h1>Atividades Complementares de Extensão</h1>

    <p>Essas disciplinas englobam as diversas atividades curriculares extraclasse realizadas por todos os alunos do Bacharelado em Sistemas de Informação, com vistas a sua formação complementar. Incluem estágios supervisionados, programas de trainees, monitorias, bolsas, cursos extracurriculares, atuação profissional em área afim ao curso, representação discente em Diretórios Acadêmicos, Colegiados de Escolas e Departamentos ou Conselhos do Centro e da Universidade, participação em projetos de pesquisa ou extensão ou na organização de eventos, bem como colaboração em Empresa Júnior, quer como consultores independentes quer como membros da direção.
      Atividades de ação comunitária interna ou externa, propostas e/ou acompanhadas por docentes ou técnicos-administrativos da UNIRIO também são elegíveis como atividades curriculares para efeito destas disciplinas.</p>

    <p>Como as disciplinas englobam estágios de trabalho indispensáveis à formação do egresso do Bacharelado em Sistemas de Informação, na falta de disciplinas específicas para estágios curriculares, é desejável que pelo menos duas ACE (isto é, dois semestres) sejam realizadas sob a forma de estágio ou trabalho nas áreas de formação do curso.</p>

    <p>Nessas disciplinas são realizados encontros presenciais que servem para a apresentação da disciplina e como pontos de controle no cronograma de desenvolvimento das atividades. O controle é feito através da entrega de artefatos intermediários, a saber:</p>
    <ul>
      <li>Questionário individual sobre a atividade</li>
      <li>Documentação comprobatória da atividade</li>
      <li>Relatório de avaliação da chefia imediata </li>
      <li>Relatório final da atividade</li>
    </ul>
    <p>O relatório final deve mostrar, numa visão global, todas as tarefas realizadas pelo aluno no desenvolvimento de suas atividades, as disciplinas do curso que estão sendo relevantes, as dificuldades encontradas e sugestões para melhoria do desempenho próprio e do curso. Um seminário ao final da disciplina é previsto para a apresentação de atividades selecionadas pelo professor.</p>

    <p>Os alunos entregam artefatos intermediários segundo um cronograma e, ao final da disciplina, entregam e apresentam o relatório final. A avaliação é feita sob forma de conceito mediante o cumprimento integral das entregas de artefatos: S (suficiente) ou I (insuficiente).</p>

  </article>
</div> <!-- Container -->
<br style="clear: both">

