
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu ativo disciplinas"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Álgebra Linear - TME0015</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: nenhum<br>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Conhecer os conceitos básicos de álgebra linear e a importância das aproximações lineares na solução de problemas complexos.</p>

    <h2>EMENTA</h2>
    <p>Vetores, matrizes, espaços vetoriais, transformações lineares, resolução de sistemas de equações lineares por métodos diretos, auto-valores e auto-vetores, diagonalização de operadores, produto interno, ortogonalização.</p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>Vetores
        <ul>
          <li>Igualdade de Vetores</li>
          <li>Adição de Vetores</li>
          <li>Multiplicação por Escalar</li>
          <li>Produto Interno</li>
        </ul>
      </li>
      <li>Matrizes
        <ul>
          <li>Igualdade de Matrizes</li>
          <li>Adição de Matrizes</li>
          <li>Multiplicação por Escalar</li>
          <li>Matriz Transposta</li>
          <li>Multiplicação de Matrizes
          <li>Matriz Inversa</li>
        </ul>
      </li>
      <li>Espaços Vetoriais
        <ul>
          <li>Definição de Espaços Vetoriais</li>
          <li>Subespaços Vetoriais</li>
          <li>Dependência e Independência Linear</li>
          <li>Conjuntos Geradores</li>
          <li>Bases e Dimensão</li>
        </ul>
      </li>
      <li>Transformações Lineares
        <ul>
          <li>Definição de transformação Linear</li>
          <li>Núcleo e Imagem</li>
          <li>Teorema do Posto e Nulidade</li>
          <li>Representação Matricial de Transformações Lineares</li>
        </ul>
      </li>
      <li>Sistemas Lineares
        <ul>
          <li>Definição de Equação Linear</li>
          <li>Sistemas de Equações Lineares</li>
          <li>Operações Elementares de Linha e Matriz Escalonada</li>
          <li>Sistemas Lineares Homogêneos</li>
          <li>Método de Gauss-Jordan</li>
        </ul>
      </li>
      <li>Auto-Valores, Auto-Vetores e Diagonalização de Operadores Digital
        <ul>
          <li>Definição de Auto-Vetores e Auto-valores</li>
          <li>Polinômio Característico</li>
          <li>Determinação de Auto-Espaços</li>
          <li>Diagonalização de Operadores</li>
        </ul>
      </li>
      <li>Produto Interno e Ortogonalização
        <ul>
          <li>Espaços Vetoriais com Produto Interno</li>
          <li>Desigualdade de Cauchy-Schwarz</li>
          <li>Ortogonalidade</li>
          <li>Processo de Gram-Schmidt</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p>Duas aulas semanais de duas horas no total de quatro tempos semanais.</p>

    <h2>AVALIAÇÃO</h2>
    <p>A avaliação será realizada através de provas escritas de conhecimento. A média do semestre será dada pela média aritmética das notas das provas. A nota mínima de aprovação é 5.0.</p>

    <h2>BIBLIOGRAFIA</h2>
    <ul>
      <li>Boldrini, Costa, Figueiredo e Wetzler. <b>Álgebra Linear</b>. 3ª Edição. Editora Harbra, 1994.</li>
      <li>David Lay. <b>Álgebra Linear e suas Aplicações</b>. Editora LTC, 1999.</li>
      <li>H. Anton e C. Rorres. <b>Álgebra Linear com Aplicações</b>. 8ª Edição. Bookman, 2001.</li>
    </ul>

    <h2>BIBLIOGRAFIA COMPLEMENTAR</h2>
    <ul>
      <li>Serge Lang. <b>Álgebra Linear</b>. 4ª Edição. Editora Edgar Blücher Ltda, 1977.</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">

