
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>
      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>

      <li class="submenu"><a href="admbd.html" title="TIN0135 - Administra&ccedil;&atilde;o de Banco de Dados">Administ. de Banco de Dados</a></li>
      <li class="submenu"><a href="algprobcomb.html" title="TIN0144 - Algoritmos para Problemas Combinat&oacute;rios">Algoritmos p/ Prob. Combinat.</a></li>
      <li class="submenu"><a href="ambopunix.html" title="TIN0150 - Ambiente Operacional Unix">Ambiente Operacional Unix</a></li>
      <li class="submenu ativo disciplinas"><a href="compiladores.html" title="TIN0146 -Compiladores">Compiladores</a></li>
      <li class="submenu"><a href="compgrafica.html" title="TIN0149 - Computa&ccedil;&atilde;o Gr&aacute;fica">Computa&ccedil;&atilde;o Gr&aacute;fica</a></li>
      <li class="submenu"><a href="comsegdados.html" title="TIN0138 - Comunica&ccedil;&atilde;o e Seguran&ccedil;a de Dados">Comunic. e Seguran&ccedil;a de Dados</a></li>
      <li class="submenu"><a href="dsw.html" title="TIN0158 - Desenvolvimento de Servidor Web">Desenvolv. de Servidor Web</a></li>
      <li class="submenu"><a href="fluxosredes.html" title="TIN0143 - Fluxos em Redes">Fluxos em Redes</a></li>
      <li class="submenu"><a href="fundrcr.html" title="TIN0147 - Fundamentos de Representa&ccedil;&atilde;o de Conhecimento e Racioc&iacute;nio">Fund. Repr. Conh. e Racioc&iacute;nio</a></li>
      <li class="submenu"><a href="gdadp.html" title="TIN0136 - Ger&ecirc;ncia de Dados em Ambientes Distribu&iacute;dos e Paralelos">Ger&ecirc;ncia de Dados em Amb. Distribu&iacute;dos e Paralelos</a></li>
      <li class="submenu"><a href="gpn.html" title="TIN0160 - Gest&atilde;o de Processos de Neg&oacute;cios">Gest. de Processos de Neg&oacute;cios</a></li>
      <li class="submenu"><a href="infoeduc.html" title="TIN0128 - Inform&aacute;tica na Educa&ccedil;&atilde;o">Inform&aacute;tica na Educa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="ia.html" title="TIN0172 - Intelig&eacute;ncia Artificial">Intelig&eacute;ncia Artificial</a></li>
      <li class="submenu"><a href="proglinear.html" title="TIN0142 - Programa&ccedil;&atilde;o Linear">Programa&ccedil;&atilde;o Linear</a></li>
      <li class="submenu"><a href="siscolab.html" title="TIN0159 - Sistemas Colaborativos">Sistemas Colaborativos</a></li>
      <li class="submenu"><a href="sismultimidia.html" title="TIN0148 - Sistemas Multim&iacute;dia">Sistemas Multim&iacute;dia</a></li>
      <li class="submenu"><a href="taa1.html" title="TIN0145 - T&oacute;picos Avan&ccedil;ados em Algoritmos I">T&oacute;p. Avan&ccedil;ados em Algoritmos</a></li>
      <li class="submenu"><a href="tabd1.html" title="TIN0137 - T&oacute;picos Avan&ccedil;ados em Banco de Dados I">T&oacute;p. Avan&ccedil;ados em BD I</a></li>
      <li class="submenu"><a href="tabd2.html" title="TIN0162 - T&oacute;picos Avan&ccedil;ados em Banco de Dados II">T&oacute;p. Avan&ccedil;ados em BD II</a></li>
      <li class="submenu"><a href="tabd3.html" title="TIN0163 - T&oacute;picos Avan&ccedil;ados em Banco de Dados III">T&oacute;p. Avan&ccedil;ados em BD III</a></li>
      <li class="submenu"><a href="taes1.html" title="TIN0161 - T&oacute;picos Avan&ccedil;ados em Engenharia de Software I">T&oacute;p. Avan&ccedil;ados em Eng. Sw. I</a></li>
      <li class="submenu"><a href="taes2.html" title="TIN0166 - T&oacute;picos Avan&ccedil;ados em Engenharia de Software II">T&oacute;p. Avan&ccedil;ados em Eng. Sw. II</a></li>
      <li class="submenu"><a href="tarc1.html" title="TIN0141 - T&oacute;picos Avan&ccedil;ados em Redes de Computadores I">T&oacute;p. Avan. em Redes de Comp. I</a></li>
      <li class="submenu"><a href="tarc2.html" title="TIN0164 - T&oacute;picos Avan&ccedil;ados em Redes de Computadores II">T&oacute;p. Avan. em Redes de Comp. II</a></li>
      <li class="submenu"><a href="tarc3.html" title="TIN0165 - T&oacute;picos Avan&ccedil;ados em Redes de Computadores III">T&oacute;p. Avan. em Redes de Comp. III</a></li>

      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Compiladores - TIN0146</h1>
    <p>Optativa - 60 horas - 4 créditos <br>
    </p>


  </article>
</div> <!-- Container -->
<br style="clear: both">