<% provide(:title, 'BSI UNIRIO') %>
<div class="container"> 
<div class="row-offcanvas">
  <%= render partial: "menu_bsi", locals: {tipo:"depoimento"} %>


<article class="col-sm-9 col-xs-12">
<p class="pull-left visible-xs visible-sm">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
		<span class="sr-only">Menu</span>
    </button>
</p> 

<h1>Depoimentos de ex alunos</h1>

<blockquote cite="https://www.facebook.com/photo.php?fbid=10202066820884749&set=a.1827356196354.2096988.1013770875&type=1&theater"><p>“Por que Sistemas de Informação?”
Ouvi isso lá em 2009, na primeira aula de Fundamentos de Sistemas de Informação. Não lembro muito bem a minha resposta, mas foi algo como “gosto de computadores”. Me lembro daquela primeira aula como se fosse ontem, e lembro também o quanto pensei antes de dar aquela resposta, tentando não “responder errado”. Hoje percebo que algumas perguntas simplesmente não possuem respostas certas. E se alguém me fizer essa mesma pergunta agora, eu com certeza terei muito mais o que dizer do que jamais conseguiria pensar naquela tarde. Mas e aí, como condensar quatro anos e meio em uma só frase? A Unirio me deu muito mais que um diploma (que ainda está pendente, haha): me deu amigos, me deu experiências, me deu lembranças, e isso é o tipo de coisa que você não pode prever e muito menos encurtar para caber em uma só frase. E essas são as coisas que realmente importam.</p>

<p>Muito obrigada a todos os envolvidos direta ou indiretamente nesta jornada, todos vocês me ensinaram muito. Muito mais que códigos, conceitos ou números. Muito mais que respostas. Aprendi a questionar. Aprendi que a aprendizagem não é um processo passivo, e que as perguntas são tão importantes quanto (ou mais que) as respostas.</p>

<p>“Por que Sistemas de Informação?”
 “Nobody has the answers, but we all have our 'why's.”</p>
 
 <p style="float:right"><a href="https://www.facebook.com/photo.php?fbid=10202066820884749&set=a.1827356196354.2096988.1013770875&type=1&theater">Bianca Melo</a></p></blockquote>

 
<p>&nbsp;</p>

</article>  
</div> <!-- row-offcanvas -->
</div> <!-- Container -->
<br style="clear: both">
