
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu ativo disciplinas"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Desenvolvimento de Páginas Web - TIN0106</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: nenhum<br>
      Professor Responsável: <a href="http://lattes.cnpq.br/1920411639358905" target="_blank">Mariano Pimentel</a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Capacitar o aluno a projetar e desenvolver a interface de websites (<i>front-end</i>).</p>

    <h2>EMENTA</h2>
    <p>Linguagens para escrita de páginas web, multimídia para web, e projeto web (webdesign).</p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <p>Para capacitar o aluno a desenvolver a interface de websites, na disciplina são trabalhadas as linguagens HTML, CSS e JavaScript, e também são discutidos os princípios de design para web (webDesign).</p>
    <ul>
      <li>Html
        <ul>
          <li>Estruturação do Documento</li>
          <li>Validação</li>
          <li>Elementos HTML: textos, seções, links, imagem, tabelas, formulários</li>
        </ul>
      </li>
      <li>CSS
        <ul>
          <li>Estilos</li>
          <li>Formatação de textos</li>
          <li>Diagramação</li>
        </ul>
      </li>
      <li>JavaScript
        <ul>
          <li>Sintaxe e tipos de dados</li>
          <li>Objetos nativos</li>
          <li>DOM</li>
        </ul>
      </li>
      <li>Princípios de Design para Web
        <ul>
          <li>Etapas de um projeto Web</li>
          <li>Elaboração de conteúdos (títulos, textos e imagens)</li>
          <li>Usabilidade</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p><b>Aprendizagem baseada em projeto:</b> ao longo da disciplina o aluno deve desenvolver um projeto web de sua escolha, tal como homepage, hotsite, comércio-eletrônico, sistema de redes sociais etc.<br>
      <b>Exposição de conteúdo:</b> para apoiar o aluno na realização do projeto, são realizadas aulas presenciais com exposição de conteúdos e aplicação de exercícios de fixação.<br>
      <b>Aprendizagem colaborativa:</b> algumas aulas são destinadas para a realização de sessões de DOJO (uma dupla desenvolve enquanto o resto da turma acompanha e discute o que a dupla está desenvolvendo), visando emergir as dúvidas da turma e também promover a integração dos alunos para a aprendizagem em grupo.
    </p>

    <h2>AVALIAÇÃO</h2>
    <p><b>Avaliação contínua:</b> ao longo da disciplina, o estudante entrega 10 trabalhos intermediários aplicando o conteúdo da disciplina no desenvolvimento de seu projeto em particular.<br>
      <b>Avaliação somativa:</b> ao término da disciplina, o aluno apresenta um trabalho final da disciplina, que é o projeto de site que foi desenvolvendo ao longo da disciplina.<br>
      <b>Cálculo da nota-final:</b> (média dos 10 trabalhos intermediários + nota do trabalho final) / 2.<br>
      Para ser aprovado na disciplina, o aluno precisa obter nota-final acima de 5.
    </p>

    <h2>BIBLIOGRAFIA</h2>
    <ul>
      <li><a href="http://www.w3schools.com/">w3schools (HTML, CSS e JavaScript)</a></li>
      <li><a href="http://www.w3.org">World Wide Web Consortium</a> (HTML e CSS) </li>
      <li>Loranger, H, Nielsen, J.
        <a href="http://www.bondfaro.com.br/livros--usabilidade-na-web-projetando-websites-com-qualidade-jakob-nielsen-hoa-loranger-8535221905.html">
          Usabilidade na Web: Projetando Websites com Usabilidade</a>. Campus, 2007.</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">
