<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
	<ul class="menu">
		<li><%= link_to "Disciplinas", disciplinas_path%></li>
		<li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>
		<li class="ativo disciplinas"><%= link_to "Eletivas", disciplinas_eletivas_path%></li>
		<li><a href="optativas.html">Optativas</a></li>
		<li><a href="aces.html">Atividades Complementares</a></li>
		<li><a href="horario.html">Hor&aacute;rio</a></li>
	</ul>

</aside>


<article class="col-sm-9 col-xs-12"> 

<p class="pull-left visible-xs visible-sm">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
		<span class="sr-only">Menu</span>
    </button>
</p>

<h1>Eletivas</h1>

<p>As disciplinas eletivas são quaisquer disciplinas de outros cursos. Visam ampliar a formação do aluno, possibilitando-o conhecer outras áreas de conhecimento além de Sistemas de Informação. O aluno é livre para escolher qualquer disciplina que aceite a inscrição de alunos de outros cursos, tais como Inglês, Economia, Produção, Didática, Direito etc. O aluno precisa cursar 4 disciplinas eletivas (ou mais) totalizando no mínimo 16 créditos.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</article>  
<br style="clear: both">