
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu ativo disciplinas"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Empreendedorismo - TIN0130</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: <a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Administrativa</a><br>
      Professor Responsável: <a href="http://lattes.cnpq.br/7190321020308770" target="_blank">Celso Campos</a></li>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Apresentar os principais conceitos e práticas do empreendedorismo moderno, técnicas de gestão e aspectos do comportamento empreendedor. Possibilitar ao aluno as competências para avaliar oportunidades de negócio e para a tomada de decisão. Permitir ao aluno o uso de instrumentos para analisar o mercado. Ensinar ao aluno os princípios básicos da formulação de Plano de Negócios.
    </p>

    <h2>EMENTA</h2>
    <p>O ambiente dos negócios. Análise do ambiente: idéias x oportunidades de negócios. O conceito e a necessidade de se empreender. Escolha do negócio. Conceito do negócio e seus atributos de valor. Reconhecimento e administração dos riscos. Avaliação do potencial do negócio. Dinâmica dos negócios. Escolha da estratégia competitiva certa. Análise financeira do negócio. Plano de Negócios. Comportamento empreendedor. Ferramentas de gestão de negócios. Empreendedorismo Social.</p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>PARTE I - Introdução
        <ul>
          <li>Introdução e histórico do empreendedorismo</li>
          <li>Definições e conceitos ligados ao empreendedorismo e o processo empreendedor</li>
          <li>Comportamento Empreendedor e Identificação de oportunidades</li>
        </ul>
      </li>
      <li>PARTE II – Plano de Negócios
        <ul>
          <li>Plano de negócios - O que é e para que serve</li>
          <li>Ferramentas alternativas (Business Model Canvas)</li>
          <li>Estrutura do Plano de Negócios
            <ul>
              <li>Caracterização do empreendimento</li>
              <li>Definição da estratégia</li>
              <li>Produtos e Serviços</li>
              <li>Análise de mercado</li>
              <li>Estratégia de Marketing</li>
              <li>Plano operacional</li>
              <li>Plano de recursos humanos</li>
              <li>Plano financeiro</li>
            </ul>
          <li>Empreendedorismo Corporativo - definições e conceitos</li>
          <li>Empreendedorismo Social</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p>Aulas teóricas expositivas, exercícios em classe e extra-classe.</p>

    <h2>AVALIAÇÃO</h2>
    <p>Uma prova parcial (50% da média).<br>
      Elaboração de um Plano de Negócios (50% da média).<br>
      Prova final para alunos com média maior ou igual a 4,0 e menor que 7,0.
    </p>

    <h2>BIBLIOGRAFIA BÁSICA</h2>
    <ul>
      <li>OSTERWALDER, Alexander. <b>Business Model Generation:</b> inovação em modelos de negócios. Ed. Alta Books.</li>
      <li>GRANDO, Nei. <b>Empreendedorismo Inovador:</b> como criar startups de tecnologia no Brasil. Ed. Évora.</li>
      <li>DORNELAS, José Carlos. <b>Empreendedorismo:</b> transformando ideias em negócios Ed. Campus-Elsevier.</li>
      <li>CHIAVENATO, Idalberto. <b>Empreendedorismo:</b> dando asas ao espírito empreendedor Ed. Saraiva.</li>
    </ul>

    <h2>BIBLIOGRAFIA COMPLEMENTAR</h2>
    <ul>
      <li>DOLABELA, Fernando. <b>O Segredo de Luísa</b> Ed. Cultura.</li>
      <li>LONFENDECRE, MOORE, PETTY. <b>Administração de Pequenas Empresas</b> Ed. Atlas.</li>
      <li>DONNELLI et al. <b>Princípios de Gestão Empresarial</b> Ed. McGraw-Hill, SP, 1999.</li>
      <li>LAS CASAS, Alexandre Luzzi. <b>Plano de Marketing para Micro e Pequena Empresa</b>. 4ª Edição. São Paulo: Ed. Atlas, 2006.</li>
      <li>KOTLER, Phillip. <b>Administração de Marketing</b> São Paulo: Ed. Atlas, 2005.</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">

