
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu ativo disciplinas"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>

  <article>

    <h1>Gerência de Projetos de Informática - TIN0132</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: <a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Projeto e Construções de Sistemas</a><br>
      Professor Responsável: <a href="http://lattes.cnpq.br/4930762936357558" target="_blank">Claudia Cappelli</a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <ul>
      <li>Apresentar quais os itens a serem considerados no Planejamento de Projetos de TI</li>
      <li>Capacitar o aluno a elaborar um Plano de Projeto de TI</li>
      <li>Apresentar modelos/conjuntos de práticas (CMMI, MPS-Br, SPICE, PMBOK, etc.) que definam práticas para Gerência de Projetos de TI</li>
      <li>Capacitar o aluno a aplicar os processos/práticas de Gerência de Projetos em TI</li>
      <li>Apresentar ferramentas para Gerência de Projetos de TI</li>

      <h2>EMENTA</h2>
      <p>Conceitos de Projeto e Gerência de Projetos. Processos da Gerência de Projetos. Gerência de Recursos. Gerência de Riscos. Gerência da Qualidade. Gerência de Comunicação. Gerência de Mudanças. Gerência de Tempo. Gerência de Custos. Gerência de Escopo. Gerência de Aquisições. Planejamento de Projetos. Plano de Projeto. Acompanhamento de Projetos. Finalização de Projetos. PMBOK.
      </p>

      <h2>CONTEÚDO PROGRAMÁTICO</h2>
      <ul>
        <li>Conceitos da Gerência de Projetos</li>
        <li>Processos da Gerência de Projetos
          <ul>
            <li>Inicialização de Projetos</li>
            <li>Gerência de Escopo</li>
            <li>Gerência de Tempo
              <ul>
                <li>Estimativas</li>
                <li>Cronograma</li>
              </ul>
            </li>
            <li>Gerência de Custos</li>
            <li>Gerência de Riscos</li>
            <li>Gerência de Recursos</li>
            <li>Gerência da Comunicação</li>
            <li>Gerência de Aquisições</li>
            <li>Gerência da Qualidade</li>
            <li>Gerência de Integração e Mudanças</li>
            <li>Planejamento de Projetos</li>
            <li>Acompanhamento de Projetos</li>
            <li>Finalização de Projetos</li>
          </ul>
        </li>
        <li>Modelos/conjuntos de práticas para Gerência de Projetos</li>
        <li>Ferramentas de gerência de projetos</li>
      </ul>

      <h2>METODOLOGIA</h2>
      <p>A metodologia utilizada nesta disciplina será baseada em exposição de conteúdos e elaboração de projetos. Será realizada a apresentação dos conceitos relacionados no conteúdo programático onde, a cada novo conceito apresentado, um trabalho prático será proposto. Para fixação de conteúdo também serão ministradas aulas pelos alunos sobre conceitos definidos. Cada aluno durante o curso deverá escolher um projeto de desenvolvimento de software para construir um planejamento completo para o mesmo. As discussões do grupo sobre os conceitos apresentados e os trabalhos realizados durante todo o curso serão efetivadas através de ferramentas colaborativas.
      </p>

      <h2>AVALIAÇÃO</h2>
      <p><b>A1:</b> Provas individuais e teóricas versando sobre os conceitos ministrados na disciplina.<br>
        <b>A2:</b> Lista de exercícios sobre a aplicação dos métodos, técnicas e ferramentas apresentados ao longo do curso.<br>
        <b>A3:</b> Apresentações orais de trabalhos incluindo exposição de temas.<br>
        <b>A4:</b> Projeto final – Planejamento completo do desenvolvimento de um Sistema de Informação.
      </p>

      <h2>BIBLIOGRAFIA</h2>
      <ul>
        <li>PHILLIPS, J., <b>Gerência de Projetos de Tecnologia da Informação</b>. Editora Campus, 2003.</li>
        <li>DARCY, P., <b>Gerência de Projetos de Tecnologia da Informação</b>. Editora INDG, 1999.</li>
        <li>CLELAND, D.I, IRELAND, L.R., <b>Gerência de Projetos</b>. Reichmann & Affonso Editores, 2002.</li>
        <li><a href="http://www.pmi.org/PMBOK-Guide-and-Standards/Standards-Library-of-PMI-Global-Standards.aspx">PMBOK</a></li>
        <li><a href="http://www.easybok.com.br/downloads/categorias/00-guia-pmbok-5-edic-o/">Templates para elaboração de planos</a></li>
      </ul>

    </ul>
  </article>
</div> <!-- Container -->
<br style="clear: both">
