
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>
      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li class="ativo disciplinas"><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Horário</h1>
    <p><a href="horarioBSI20141_Data_240214.pdf">Horário BSI 2014.1</a></p>
    <p><a href="horarioBSI20132.pdf">Horário BSI 2013.2</a></p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


  </article>
</div> <!-- Container -->
<br style="clear: both">

