
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu ativo disciplinas"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Linguagens Formais e Autômatos - TIN0119</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: <a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a><br>
      Professor Responsável: <a href="http://lattes.cnpq.br/2100358669537195" target="_blank">Geiza Hamazaki</a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Capacitar o aluno a:</p>
    <ul>
      <li>Identificar e classificar  linguagens geradas por gramáticas</li>
      <li>Escrever gramáticas que representem linguagens</li>
      <li>Projetar máquinas que manipulem a linguagem</li>
      <li>Identificar  o potencial e o limite de diferentes tipos de máquinas teóricas para manipulação de linguagens</li>
      <li>Projetar linguagens e máquinas capaz de resolverem problemas reais</li>
      <li>Verificar se um problema pertence ou não a classe de problemas intratáveis</li>
    </ul>

    <h2>EMENTA</h2>
    <p>Hierarquia de Chomsky. Alfabetos e linguagens. Gramáticas. Autômatos finitos e linguagens regulares; máquinas de pilha e linguagens livres de contexto, gramáticas LL(k) e LR(k); gramáticas sensíveis a contexto. Máquinas de Turing. Capacidade e limite de cada classe. Decidibilidade e Computabilidade.</p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>Revisão de conceitos de conjuntos, funções e relações</li>
      <li>Apresentação dos conceitos de alfabetos, cadeias e linguagens</li>
      <li>Definição dos conceitos de procedimentos e algoritmos, conjuntos recursivos e recursivamente enumeráveis</li>
      <li>Gramáticas: definição e tipos de gramáticas</li>
      <li>Linguagens e gramáticas regulares
        <ul>
          <li>Autômatos finitos: determinísticos e não-determinísticos</li>
          <li>Equivalência</li>
          <li>Minimização de autômatos</li>
          <li>Expressões regulares</li>
          <li>Equivalência entre autômatos finitos e gramáticas regulares</li>
        </ul>
      </li>
      <li>Linguagens e gramáticas livres de contexto
        <ul>
          <li>Linguagens livres de contexto</li>
          <li>Autômatos de pilha</li>
        </ul>
      </li>
      <li>Máquinas de Turing</li>
      <li>Decidibilidade e computabilidade</li>
      <li>Linguagens sensíveis a contexto e autômatos linearmente limitados</li>
      <li>Linguagens determinísticas e seus aceitadores</li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p><b>Exposição de conteúdo:</b> aulas presenciais terão apresentação do conteúdo teórico e aplicação dos exercícios de fixação.<br>
      <b>Aprendizagem colaborativa:</b> para o entendimento dos conteúdos serão apresentados questões, pelo professor, cujas soluções serão propostas e discutidas pelos alunos.<br>
      <b>Aprendizagem baseada em projeto:</b> a partir dos exemplos de sistemas apresentados em sala, o aluno deverá desenvolver um projeto para a solução de um problema prático ou apresentado na literatura.
    </p>

    <h2>AVALIAÇÃO</h2>
    <p><b>Avaliação contínua:</b> Ao longo da disciplina, o estudante entregará tarefas intermediárias aplicando e fixando individualmente o conteúdo da disciplina em exercícios propostos pelo professor. Em grupos, os estudantes respondem à cada aula a um conjunto de questões propostas pelo professor.<br>
      <b>Avaliação Somativa:</b> Ao longo da disciplina haverão três avaliações(G1, G2 e G3)  para o cálculo da nota final.<br>
      <b>Avaliação 1 (G1):</b> Esta será composta de um prova teórica versando sobre os conceitos ministrados, trabalhos individuais e as participações em sala de aula.<br>
      <b>Avaliação 2 (G2):</b> Esta será composta de um prova teórica versando sobre os conceitos ministrados, participações em sala de aula e um projeto para aplicar os conceitos teóricos apresentados na solução de um problema real ou apresentado pela literatura.<br>
    </p>
    <p>Se  média das duas avaliações do aluno for maior ou igual a 7,0 será aprovado sem necessidade de prova final (G3). Caso contrário, fará uma prova final.</p>
    <p><b>Cálculo da nota-final:</b> A nota final será igual a média da G1e a G2 se esta for maior que 7,0 senão esta será igual a ((média da  G1 e a G2) + G3)/2.</p>
    <p>Serão aprovados apenas os alunos com média final igual ou superior a 5,0.</p>

    <h2>BIBLIOGRAFIA</h2>
    <ul>
      <li>HOPCROFT ,J. E.; ULLMAN , J. D., e MONTWANI , R. ; <b>Introdução à Teoria de Autômatos Linguagens e Computação</b>. Editora Campus, tradução da segunda edição americana, 2002.</li>
      <li>MENEZES , P. B.; <b>Linguagens Formais e Autômatos</b>. Editora Sagra Luzzatto, 2000.</li>
      <li>DIVERIO , T.A.; MENEZES, P.B.; <b>Teoria da Computação:</b> Máquinas Universais e Computabilidade. Editora Sagra Luzzatto, 1999.</li>
      <li>Apostila de Linguagens Formais e Autômatos redigida pelo Prof. José Lucas RANGEL.</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">
