
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu ativo disciplinas"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Interação Humano-Computador - TIN0110</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: nenhum<br>
      Professor Responsável: <a href="http://lattes.cnpq.br/0926018459123736" target="_blank">Simone Leal Ferreira</a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>O objetivo da disciplina é capacitar o aluno a avaliar interfaces de sistemas (convencionais e interfaces web) a fim de identificar os principais problemas de usabilidade e acessibilidade das mesmas e propor melhorias.</p>

    <h2>EMENTA</h2>
    <p>Conceitos Básicos, Sistemas centrados no usuário, Requisitos não Funcionais de Usabilidade, Globalização, Projetos de Sites.</p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>Introdução
        <ul>
          <li>Apresentação do(a) professor(a)</li>
          <li>Descrição da disciplina e seus objetivos</li>
          <li>Definição das políticas e formas de avaliação, e comportamento em sala de aula</li>
          <li>Apresentação do programa</li>
          <li>Introdução a Interface com o Usuário</li>
        </ul>
      </li>
      <li>Conceitos Básicos
        <ul>
          <li>O que é uma IU</li>
          <li>Ambientes da Interface: Principais Componentes</li>
          <li>Estilos de Interfaces</li>
          <li>Usabilidade, Comunicabilidade e Acessibilidade</li>
        </ul>
      </li>
      <li>Avaliação de Interfaces
        <ul>
          <li>Tipos de Análises</li>
          <li>Métodos de Avaliação – Inspeção de Interfaces: Avaliação heurística, Revisão de guidelines, Percurso cognitivo, Inspeção baseada em taxonomia etc</li>
          <li>Métdos de Obsevação – Testes com Usuários: Testes em ambientes controlados e Testes no Contexto de Uso</li>
        </ul>
      </li>
      <li>Características desejáveis em uma boa IU (requisitos não funcionais)
        <ul>
          <li>Requisitos relacionados à entrada de dados</li>
          <li>Requisitos relacionados à exibição da informação</li>
          <li>Alinhamento dos Requisitos Funcionais de usabilidade com as diretrizes de acessibilidade</li>
        </ul>
      </li>
      <li>Cor e Visão
        <ul>
          <li>Introdução</li>
          <li>O processo de visão</li>
          <li>As ondas eletromagnéticas – o espectro visível</li>
          <li>O olho humano</li>
        </ul>
      </li>
      <li>Considerações sobre cores
        <ul>
          <li>O processo de Formação de Cores</li>
          <li>Mistura Aditiva de Cores</li>
          <li>Mistura Subtrativa de Cores</li>
          <li>Ordenação de Cores</li>
          <li>Escala de Cinza</li>
          <li>Roda de Cor</li>
          <li>Alguns Conceitos</li>
          <li>Colorimetria: Generalização Tricomática</li>
          <li>Espaços de Cor</li>
        </ul>
      </li>
      <li>O Uso de Cores em Ius
        <ul>
          <li>Associação e Escolha de Cores</li>
          <li>O Uso de Cores Acromáticas nas Ius</li>
          <li>O Uso de Cores Cromáticas em Ius</li>
          <li>Cores Quentes e Cores Frias</li>
          <li>Algumas Considerações sobre Cores Cromáticas</li>
          <li>Ilusões Relacionadas com Cores</li>
          <li>Memória para a Cor</li>
          <li>Os Dez Mandamentos de Cores para Ius</li>
        </ul>
      </li>
      <li>Sistema de Interface com o Usuário
        <ul>
          <li>Sistemas de IUs Existentes</li>
          <li>Programação Convencional e Orientada a Eventos</li>
        </ul>
      </li>
      <li>Modelagem dos usuário
        <ul>
          <li>Modelo Conceitual do Usuário ou Percepção do Sistema</li>
          <li>Importância da Modelagem de Usuários</li>
          <li>Modelo de Usuários</li>
        </ul>
      </li>
      <li>Internacionalização de Interfaces
        <ul>
          <li>Globalização e Localização</li>
          <li>O Processo de Globalização</li>
          <li>Base Global</li>
          <li>Algumas Regras de desenvolvimento de aspectyos técnicos</li>
          <li>Abordagens de Projeto de Interfaces Internacinais</li>
          <li>Considerações sobre Linguagens</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p>Exposição de conteúdos.<br>
      Aprendizagem Baseada em Projetos.<br>
      Aprendizagem Baseada em Problemas.
    </p>

    <h2>AVALIAÇÃO</h2>
    <p>Serão feitas as seguintes tarefas (Trabalhos Intermediários):</p>
    <ul>
      <li>Quatro relatórios em grupo sobre a análise de um site feitos ao longo do semestre</li>
      <li>Um trabalho individual de tema livre</li>
      <li>Um trabalho em grupo sobre um tema definido pleo professor</li>
    </ul>


    <h2>BIBLIOGRAFIA</h2>
    <ul>
      <li>Simone Bacellar Leal Ferreira e Ricardo Nunes Rodrigues. <b>e-Usabilidade</b>. Editora LTC, 2008.</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">

