
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreed.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu ativo disciplinas"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Introdução à Lógica Computacional - TIN0105</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: nenhum<br>
      Professor Responsável: <a href="http://lattes.cnpq.br/5998143228852295" target="_blank">Alexandre Andreatta</a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Capacitar o aluno a utilizar as linguagens proposicional e de predicados para expressar conhecimento. Prepara o aluno para aplicar métodos de teste de consistência de conjuntos de proposições compostas ou de sentenças nas duas linguagens. Qualificar o aluno na demonstração a validade de argumentos. Habilitar  o aluno a fazer demonstrações simples por indução matemática. Capacitar o aluno a reconhecer e realizar definições recursivas, e a calcular as formas fechadas de funções recursivas simples.
    </p>

    <h2>EMENTA</h2>
    <p>Lógica proposicional e álgebra booleana. Lógica de predicados. Indução. Recursão.</p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>Lógica Formal
        <ul>
          <li>Proposições, fórmulas bem formadas e Equivalências. Tautológicas. Formas Normais (Conjuntiva e Disjuntiva). Definição de interpretação. Tabela verdade e árvores de decisão.</li>
          <li>Validade de Argumentos Proposicionais. Definição de Sistemas Formais. Completude e correção de sistemas formais.</li>
          <li>Lógica Proposicional: Regras de inferência da dedução Natural. Regras adicionais. Regra da Resolução e uso de refutação.</li>
          <li>Correlação entre Lógica Proposicional e Álgebra Booleana. Minimização de termos de funções booleanas na forma normal disjuntivas: mapas de Karnaugh e Algoritmo de Quine-McCluskey.</li>
          <li>Quantificadores, Predicados e expressividade da linguagem de predicados com funções e sem funções no conjunto universo. Definição do conjunto de fórmulas da linguagem.</li>
          <li>Definição de interpretação em Lógica de Predicados.</li>
          <li>Definição de variáveis livres, sentenças, substituição de termos.</li>
          <li>Equivalências tautológicas relativas a fórmulas com quantificadores.</li>
          <li>Validade de Argumentos com Predicados.</li>
          <li>Lógica de Predicados: regras de inferência compartilhadas com a lógica proposicional. Regras de inferência específicas: particularizações e generalizações universais e existenciais.</li>
          <li>"Noções de Programação em Lógica" (não obrigatório).</li>
        </ul>
      </li>
      <li>Indução
        <ul>
          <li>Definição</li>
          <li>Primeiro Princípio da Indução; Segundo Princípio da Indução</li>
          <li>Demonstrações por indução</li>
        </ul>
      </li>
      <li>Recursão
        <ul>
          <li>Definições recursivas de conjuntos, seqüências, operações e algoritmos</li>
          <li>Resolução de equações recursivas simples por expansão</li>
          <li>Resolução de recursões lineares homogêneas (não obrigatório)</li>
          <li>Máximo Divisor Comum, Algoritmo de Euclides</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p>Aulas expositivas de conteúdo teórico, com a realização de exercícios ao longo das aulas.</p>

    <h2>AVALIAÇÃO</h2>
    <p>São três ao longo do período constando dos assuntos ministrados até o momento da prova. Se esta média M for maior ou igual a 7,0 (sete) o aluno estará aprovado, caso contrário deverá realizar prova final (PF). Neste caso, a nota final será composta pela média entre PF e M. Se a média final for inferior a 5,0 (cinco) o aluno estará reprovado, sendo superior ou igual, estará aprovado.</p>

    <h2>BIBLIOGRAFIA BÁSICA</h2>
    <ul>
      <li>ROSEN, Kenneth H., <b>Matemática Discreta e suas Aplicações</b>, 6ªEedição. São Paulo: Mc Graw Hill.</li>
      <li>HUTH e RYAN, M., <b>Lógica em Ciência da Computação</b> - Modelagem e Argumentação Sobre Sistemas. LTC, 2008.</li>
      <li>ENDERTON, H., <b>A Mathematical Introduction to Logic</b>. 2ª Ed., Harcourt/Academic Express, 2001.</li>
    </ul>

    <h2>BIBLIOGRAFIA COMPLEMENTAR</h2>
    <ul>
      <li>GERSTING, Judith L., <b>Fundamentos Matemáticos para a Ciência da Computação</b>. 5ªEed. ou superior. Rio de Janeiro: LTC.</li>
      <li>CORREIA DA SILVA, F.S.,FINGER,M.,MELO,A.C.V., <b>A Lógica para Computação</b>. Editora Thomson.</li>
      <li>CLOCKSIN, W.F., MELLISH,C.S., <b>Programming in Prolog</b>. 5th Ed., Springer, 2003.</li>
      <li>SOUZA, João Nunes de. <b>Lógica para Ciência da Computação:</b> fundamentos de linguagem, semântica e sistemas de dedução. Editora Campus</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">

