<div class="container">
  <aside>
    <ul class="menu">
      <li class="ativo noticias"><a href="index.html">Notícias</a></li>
    </ul>
  </aside>


  <article>

    <h1>Notícias</h1>

    <div class="fb-like-box" data-href="http://www.facebook.com/bsiunirio" data-width="719" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false"></div>
  </article>
</div> <!-- Container -->
<br style="clear: both">


