
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu ativo disciplinas"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Projeto e Construção de Sistemas - TIN0171</h1>
    <p>Obrigatória - 60 horas - 4 créditos <br>
      Pré-requisitos: <a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a> e <a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a><br>
      Professor Responsável: <a href="http://lattes.cnpq.br/2953646352903735" target="_blank">Alexandre Luis Correa</a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Capacitar o aluno a projetar e construir sistemas utilizando um ambiente de programação orientada a objetos em Java.</p>

    <h2>EMENTA</h2>
    <p>Seleção de um ambiente com uma linguagem de programação que dê suporte ao modelo cliente-servidor; construção de programas: estruturado, orientado a eventos e a objetos; teste; asserção de qualidade de programas, implementação de sistema; treinamento de usuário; entrega de sistema; revisão pós-implementação; gerenciamento de configuração; manutenção; engenharia reversa e re-engenharia.
    </p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>Fundamentos de Orientação a Objetos e sua implementação em Java
        <ul>
          <li>Introdução a Java (JVM, tipos primitivos, estruturas de controle de fluxo, entrada/saída console)</li>
          <li>Classes e objetos</li>
          <li>Atributos, operações e métodos</li>
          <li>Herança e Polimorfismo</li>
          <li>Interface</li>
          <li>Composição</li>
          <li>Pacotes</li>
          <li>Tratamento de ExceçõesVariável</li>
        </ul>
      </li>
      <li>Ambiente de Desenvolvimento em Java
        <ul>
          <li>Principais características do ambiente</li>
          <li>Fundamentos de programação usando o ambiente</li>
          <li>Depuração de programas</li>
          <li>Reestruturação Automática de Código</li>
          <li>Geração Automática de Código</li>
        </ul>
      </li>
      <li>Bibliotecas básicas para projeto e construção de sistemas em Java
        <ul>
          <li>Java Generics</li>
          <li>Estruturas de dados utilizando Collections (List, Set, Map)</li>
          <li>Acesso a arquivos utilizando arquivos texto e binários</li>
          <li>Serialização Binária e XML</li>
          <li>Java Reflection</li>
          <li>Construção de Interface gráfica com usuário com Java Swing</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p><b>Aprendizagem baseada em projeto:</b> ao longo da disciplina o aluno deve projetar e construir, em grupo, um sistema de informação definido pelo professor.<br>
      <b>Aprendizagem baseada em problemas/Exposição de conteúdo:</b> para apoiar o aluno na realização do projeto, são realizadas aulas presenciais baseadas na resolução de problemas, isto é, a partir de problemas de implementação predefinidos, os conceitos necessários para a sua resolução são apresentados e imediatamente aplicados em conjunto com os alunos.
    </p>

    <h2>AVALIAÇÃO</h2>
    <ul>
      <li>Provas práticas bimestrais realizadas em laboratório.</li>
      <li>Projeto e construção de um sistema desenvolvido ao longo do semestre.</li>
    </ul>

    <p>A nota final do aluno é a média entre a nota final atribuída ao projeto e a média das provas práticas.<br>
      Alunos com nota final entre 4,0 e 7,0 deverão fazer uma prova final prática em laboratório.</p>

    <h2>BIBLIOGRAFIA</h2>
    <ul>
      <li>Cornell, Gary. <b>Core Java Fundamentals</b>. Prentice Hall, 2012.</li>
      <li>Pressman, Roger. <b>Software Engineering:</b> a Practitioner's Approach. Mc-Graw Hill, 7a. edição, 2011.</li>
      <li>Manuais das linguagens e ambientes de programação selecionadas:
        <ul>
          <li><a href="http://www.oracle.com/technetwork/java/javase">Java Tutorial</a></li>
          <li><a href="http://www.netbeans.org">Netbeans</a></li>
        </ul>
      </li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">
