
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>
      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>

      <li class="submenu"><a href="admbd.html" title="TIN0135 - Administra&ccedil;&atilde;o de Banco de Dados">Administ. de Banco de Dados</a></li>
      <li class="submenu"><a href="algprobcomb.html" title="TIN0144 - Algoritmos para Problemas Combinat&oacute;rios">Algoritmos p/ Prob. Combinat.</a></li>
      <li class="submenu"><a href="ambopunix.html" title="TIN0150 - Ambiente Operacional Unix">Ambiente Operacional Unix</a></li>
      <li class="submenu"><a href="compiladores.html" title="TIN0146 -Compiladores">Compiladores</a></li>
      <li class="submenu"><a href="compgrafica.html" title="TIN0149 - Computa&ccedil;&atilde;o Gr&aacute;fica">Computa&ccedil;&atilde;o Gr&aacute;fica</a></li>
      <li class="submenu"><a href="comsegdados.html" title="TIN0138 - Comunica&ccedil;&atilde;o e Seguran&ccedil;a de Dados">Comunic. e Seguran&ccedil;a de Dados</a></li>
      <li class="submenu"><a href="dsw.html" title="TIN0158 - Desenvolvimento de Servidor Web">Desenvolv. de Servidor Web</a></li>
      <li class="submenu"><a href="fluxosredes.html" title="TIN0143 - Fluxos em Redes">Fluxos em Redes</a></li>
      <li class="submenu"><a href="fundrcr.html" title="TIN0147 - Fundamentos de Representa&ccedil;&atilde;o de Conhecimento e Racioc&iacute;nio">Fund. Repr. Conh. e Racioc&iacute;nio</a></li>
      <li class="submenu"><a href="gdadp.html" title="TIN0136 - Ger&ecirc;ncia de Dados em Ambientes Distribu&iacute;dos e Paralelos">Ger&ecirc;ncia de Dados em Amb. Distribu&iacute;dos e Paralelos</a></li>
      <li class="submenu"><a href="gpn.html" title="TIN0160 - Gest&atilde;o de Processos de Neg&oacute;cios">Gest. de Processos de Neg&oacute;cios</a></li>
      <li class="submenu"><a href="infoeduc.html" title="TIN0128 - Inform&aacute;tica na Educa&ccedil;&atilde;o">Inform&aacute;tica na Educa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="ia.html" title="TIN0172 - Intelig&eacute;ncia Artificial">Intelig&eacute;ncia Artificial</a></li>
      <li class="submenu"><a href="proglinear.html" title="TIN0142 - Programa&ccedil;&atilde;o Linear">Programa&ccedil;&atilde;o Linear</a></li>
      <li class="submenu ativo disciplinas"><a href="siscolab.html" title="TIN0159 - Sistemas Colaborativos">Sistemas Colaborativos</a></li>
      <li class="submenu"><a href="sismultimidia.html" title="TIN0148 - Sistemas Multim&iacute;dia">Sistemas Multim&iacute;dia</a></li>
      <li class="submenu"><a href="taa1.html" title="TIN0145 - T&oacute;picos Avan&ccedil;ados em Algoritmos I">T&oacute;p. Avan&ccedil;ados em Algoritmos</a></li>
      <li class="submenu"><a href="tabd1.html" title="TIN0137 - T&oacute;picos Avan&ccedil;ados em Banco de Dados I">T&oacute;p. Avan&ccedil;ados em BD I</a></li>
      <li class="submenu"><a href="tabd2.html" title="TIN0162 - T&oacute;picos Avan&ccedil;ados em Banco de Dados II">T&oacute;p. Avan&ccedil;ados em BD II</a></li>
      <li class="submenu"><a href="tabd3.html" title="TIN0163 - T&oacute;picos Avan&ccedil;ados em Banco de Dados III">T&oacute;p. Avan&ccedil;ados em BD III</a></li>
      <li class="submenu"><a href="taes1.html" title="TIN0161 - T&oacute;picos Avan&ccedil;ados em Engenharia de Software I">T&oacute;p. Avan&ccedil;ados em Eng. Sw. I</a></li>
      <li class="submenu"><a href="taes2.html" title="TIN0166 - T&oacute;picos Avan&ccedil;ados em Engenharia de Software II">T&oacute;p. Avan&ccedil;ados em Eng. Sw. II</a></li>
      <li class="submenu"><a href="tarc1.html" title="TIN0141 - T&oacute;picos Avan&ccedil;ados em Redes de Computadores I">T&oacute;p. Avan. em Redes de Comp. I</a></li>
      <li class="submenu"><a href="tarc2.html" title="TIN0164 - T&oacute;picos Avan&ccedil;ados em Redes de Computadores II">T&oacute;p. Avan. em Redes de Comp. II</a></li>
      <li class="submenu"><a href="tarc3.html" title="TIN0165 - T&oacute;picos Avan&ccedil;ados em Redes de Computadores III">T&oacute;p. Avan. em Redes de Comp. III</a></li>

      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Sistemas Colaborativos - TIN0159</h1>
    <p>Optativa - 60 horas - 4 créditos <br>
      Pré-requisitos: <a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Projeto e Constru&ccedil;&atilde;o de Sistemas</a><br>
      Professor Responsável: <a href="http://lattes.cnpq.br/5377746284077362" target="_blank">Flávia Santoro</a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Apresentar os conceitos de sistemas colaborativos e seus domínios de aplicação, as técnicas necessárias ao desenvolvimento de sistemas colaborativos. E Capacitar o aluno a projetar sistemas colaborativos para o trabalho e a interação na sociedade conectada.
    </p>

    <h2>EMENTA</h2>
    <p>Importância do Trabalho em Grupo. Conceitos – <i>CSCW</i> e <i>Groupware</i>. Histórico da área. Principais aplicações. Aspectos de suporte à colaboração (coordenação, percepção, comunicação, memória de grupo). Sistemas de Apoio a Reuniões. Sistemas de Gerenciamento de Fluxo de Trabalho <i>(workflow)</i>. Aprendizado Cooperativo Apoiado por Computador. Uso de <i>Groupware</i> em Organizações. Memória Organizacional. Aspectos de implementação de <i>groupware</i>.</p>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>Fundamentos: Teorias e modelos de colaboração
        <ul>
          <li>Sistemas e Domínios
            <ul>
              <li>Redes sociais</li>
              <li>Sistemas de comunicação para colaboração</li>
              <li>Ambientes virtuais colaborativos</li>
              <li>Democracia eletrônica</li>
              <li>Desenvolvimento colaborativo de software</li>
              <li>Aprendizagem colaborativa com suporte computacional</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Técnicas
        <ul>
          <li>Percepção e contexto</li>
          <li>Conhecimento coletivo</li>
          <li>Gestão do conhecimento e memória de grupo</li>
          <li>Folksonomia</li>
          <li>Sistemas de Recomendação</li>
          <li>Mobilidade e ubiquidade para colaboração</li>
        </ul>
      </li>
      <li>Desenvolvimento
        <ul>
          <li>Arquiteturas distribuídas para sistemas colaborativos</li>
          <li>Middleware para sistemas colaborativos</li>
          <li>Componentes de software para sistemas colaborativos</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <p><b>Aprendizagem baseada em projeto:</b> ao longo do período, grupos de alunos devem desenvolver um sistema colaborativo ou apresentar um estudo de uso de um sistema dentre os tipos discutidos na disciplina (sistemas e domínios).<br>
      <b>Exposição de conteúdo:</b> aulas presenciais com exposição de conteúdos relacionados ao programa.</p>

    <h2>AVALIAÇÃO</h2>
    <p><b>Avaliação contínua:</b> ao longo da disciplina, grupos de estudantes apresentam o seu projeto em versões evolutivas.<br>
      <b>Avaliação somativa:</b> é aplicada uma prova no final do semestre com objetivo de avaliar pontos específicos do conteúdo programático de forma individual.
    </p>

    <h2>BIBLIOGRAFIA</h2>
    <ul>
      <li>PIMENTEL, M., FUKS, H. <b>Sistemas Colaborativos</b>. Rio de Janeiro: Elsevier-Campus-SBC, 2011.</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">
