
<div class="container">
  <aside>
    <ul class="menu">
      <li><a href="index.html">Disciplinas</a></li>
      <li><a href="obrigatorias.html">Obrigat&oacute;rias</a></li>

      <li class="submenu"><a href="admfinanceira.html" title="TIN00117 - Administra&ccedil;&atilde;o Financeira">Administra&ccedil;&atilde;o Financeira</a></li>
      <li class="submenu"><a href="alglinear.html" title="TME0015 - &Aacute;lgebra Linear">&Aacute;lgebra Linear</a></li>
      <li class="submenu"><a href="aa.html" title="TIN0118 - An&aacute;lise de Algoritmos">An&aacute;lise de Algoritmo</a></li>
      <li class="submenu"><a href="as.html" title="TIN0115 - An&aacute;lise de Sistemas">An&aacute;lise de Sistemas</a></li>
      <li class="submenu"><a href="aea.html" title="TIN0013 - An&aacute;lise Empresarial e Administrativa">An&aacute;lise Empresarial e Admin.</a></li>
      <li class="submenu"><a href="bd1.html" title="TIN0120 - Banco de Dados I">Banco de Dados I</a></li>
      <li class="submenu"><a href="bd2.html" title="TIN0169 - Banco de Dados II">Banco de Dados II</a></li>
      <li class="submenu"><a href="calc1.html" title="TME0112 - C&aacute;lculo Diferencial e Integral I">C&aacute;lculo Diferenc. e Integral I</a></li>
      <li class="submenu"><a href="calc2.html" title="TME0113 - C&aacute;lculo Diferencial e Integral II">C&aacute;lculo Diferenc. e Integral II</a></li>
      <li class="submenu"><a href="dpw.html" title="TIN0106 - Desenvolvimento de P&aacute;ginas Web">Desenvolv. de P&aacute;ginas Web</a></li>
      <li class="submenu"><a href="empreen.html" title="TIN0130 - Empreendedorismo">Empreendedorismo</a></li>
      <li class="submenu"><a href="estatistica.html" title="TME0115 - Estat&iacute;stica">Estat&iacute;stica</a></li>
      <li class="submenu"><a href="ed1.html" title="TIN0114 - Estruturas de Dados I">Estruturas de Dados I</a></li>
      <li class="submenu"><a href="ed2.html" title="TIN0168 - Estruturas de Dados II">Estruturas de Dados II</a></li>
      <li class="submenu"><a href="edc.html" title="TIN0109 - Estruturas Discretas">Estruturas Discretas</a></li>
      <li class="submenu"><a href="fsi.html" title="TIN0112 - Fundamentos de Sistemas de Informa&ccedil;&atilde;o">Fund. de Sist. de Informa&ccedil;&atilde;o</a></li>
      <li class="submenu"><a href="gpi.html" title="TIN0132 - Ger&ecirc;ncia de Projetos de Informatica">Ger&ecirc;ncia de Proj. de Informat.</a></li>
      <li class="submenu"><a href="ihc.html" title="TIN0110 - Intera&ccedil;&atilde;o Humano Computador">Intera&ccedil;&atilde;o Humano Computador</a></li>
      <li class="submenu"><a href="intlogcomp.html" title="TIN0105 - Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computacional">Introdu&ccedil;&atilde;o &agrave; L&oacute;gica Computac.</a></li>
      <li class="submenu"><a href="lfa.html" title="TIN0119 - Linguagens Formais e Aut&ocirc;matos">Linguag. Formais e Aut&ocirc;matos</a></li>
      <li class="submenu"><a href="matematica.html" title="TME0101 - Matem&aacute;tica B&aacute;sica">Matem&aacute;tica B&aacute;sica</a></li>
      <li class="submenu"><a href="oc.html" title="TIN0108 - Organiza&ccedil;&atilde;o de Computadores">Organiza&ccedil;&atilde;o de Computadores</a></li>
      <li class="submenu"><a href="prob.html" title="TME0114 - Probabilidade">Probabilidade</a></li>
      <li class="submenu"><a href="procsoft.html" title="TIN0122 - Processos de Software">Processos de Software</a></li>
      <li class="submenu"><a href="progmod.html" title="TIN0121 - Programa&ccedil;&atilde;o Modular">Programa&ccedil;&atilde;o Modular</a></li>
      <li class="submenu"><a href="pg1.html" title="TIN0131 - Projeto de Graduacao I">Projeto de Gradua&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="pg2.html" title="TIN0133 - Projeto de Gradua&ccedil;&atilde;o II">Projeto de Gradua&ccedil;&atilde;o II</a></li>
      <li class="submenu"><a href="pcs.html" title="TIN0171 - Projeto e Constru&ccedil;&atilde;o de Sistemas">Proj. e Const. de Sistemas</a></li>
      <li class="submenu"><a href="pcssgbd.html" title="TIN0125 - Projeto e Constru&ccedil;&atilde;o de Sistemas com SGBD">Proj. Const. Sistemas-SGBD</a></li>
      <li class="submenu"><a href="redes1.html" title="TIN0123 - Redes de Computadores I">Redes de Computadores I</a></li>
      <li class="submenu"><a href="redes2.html" title="TIN0126 - Redes de Computadores II">Redes de Computadores II</a></li>
      <li class="submenu"><a href="so.html" title="TIN0116 - Sistemas Operacionais">Sistemas Operacionais</a></li>
      <li class="submenu"><a href="tp1.html" title="TIN0107 - T&eacute;cninas de Programa&ccedil;&atilde;o I">T&eacute;cnicas de Programa&ccedil;&atilde;o I</a></li>
      <li class="submenu"><a href="tp2.html" title="TIN0011 - T&eacute;cnicas de Programa&ccedil;&atilde;o II">T&eacute;cnicas de Programa&ccedil;&atilde;o II</a></li>
      <li class="submenu ativo disciplinas"><a href="tpdiscursivas.html" title="HTD0058 - Teorias e Pr&aacute;ticas Discursivas">Teorias e Pr&aacute;ticas Discursivas</a></li>

      <li><a href="eletivas.html">Eletivas</a></li>
      <li><a href="optativas.html">Optativas</a></li>
      <li><a href="aces.html">Atividades Complementares</a></li>
      <li><a href="horario.html">Hor&aacute;rio</a></li>
    </ul>

  </aside>


  <article>

    <h1>Teorias e Práticas Discursivas - HTD0058</h1>
    <p>Obrigatória - 60 horas - 3 créditos <br>
      Pré-requisitos: nenhum<br>
      Professor Responsável: <a href="http://lattes.cnpq.br/8226635424466952" target="_blank">Lúcia Maria Moutinho Ribeiro </a>
    </p>

    <h2>OBJETIVOS DA DISCIPLINA</h2>
    <p>Consolidar as habilidades comunicativas em nível lingüístico no que tange aos textos da área acadêmico/profissional da Informação.</p>

    <h2>EMENTA</h2>
    <ul>
      <li>Noções gerais de Gênero Discursivo</li>
      <li>Língua oral e língua escrita</li>
      <li>Normas gramaticais</li>
      <li>Paragrafação</li>
      <li>Exposição oral</li>
    </ul>

    <h2>CONTEÚDO PROGRAMÁTICO</h2>
    <ul>
      <li>Gênero discursivo
        <ul>
          <li>O conceito de gênero discursivo</li>
          <li>A importância do registro escrito</li>
        </ul>
      </li>
      <li>Língua oral e língua escrita
        <ul>
          <li>Marcas de oralidade</li>
          <li>Contraste entre a oralidade e a escrita</li>
          <li>Variação lingüística e norma padrão</li>
        </ul>
      </li>
      <li>Normas gramaticais
        <ul>
          <li>Frase, oração, período</li>
          <li>Elementos conectivos entre as frases</li>
          <li>Coesão e coerência textual</li>
        </ul>
      </li>
      <li>Paragrafação
        <ul>
          <li>Parágrafo padrão</li>
          <li>Parágrafo descritivo</li>
          <li>Parágrafo narrativo</li>
          <li>Parágrafo dissertativo</li>
        </ul>
      </li>
      <li>Exposição oral
        <ul>
          <li>Tipos de exposição: formal e informal</li>
          <li>Síntese para apresentação</li>
        </ul>
      </li>
      <li>Ler, resumir, fichar
        <ul>
          <li>Técnicas de reescritura</li>
          <li>Leitura e paráfrase</li>
          <li>Interpretação de textos</li>
        </ul>
      </li>
    </ul>

    <h2>METODOLOGIA</h2>
    <ul>
      <li>Aulas expositivas</li>
      <li>Seminários</li>
      <li>Exercícios</li>
      <li>Estudo dirigido</li>
    </ul>

    <h2>AVALIAÇÃO</h2>
    <ul>
      <li>Prova escrita</li>
      <li>Pesquisa</li>
      <li>Seminário</li>
    </ul>

    <h2>BIBLIOGRAFIA</h2>
    <ul>
      <li>AZEREDO, José Carlos. <b>A nova ortografia</b>. Rio: UERJ, 2009.</li>
      <li>BOAVENTURA, Edivaldo. <b>Como ordenar ideias</b>. São Paulo: Ática, 2002.</li>
      <li>BARRAS, Robert. <b>Os cientistas precisam escrever</b>. Rio: Bertrand Brasil, 1996.</li>
      <li>BECHARA, Evanildo. <b>Moderna gramática portuguesa</b>. Rio: Lucerna, 2008.</li>
      <li>CINTRA, L. F. L, CUNHA, C. <b>Nova gramática do Português contemporâneo</b>. Rio: Lexikon, 2011.</li>
      <li>FÁVERO, Leonor. <b>Coesão e coerência textual</b>. São Paulo: Ática, 2000.</li>
      <li>FEITOSA, Vera Cristina. <b>Redação de textos científicos</b>. Campinas: Papirus, 1991.</li>
      <li>FIGUEIREDO, Luiz Carlos Figueiredo. <b>A redação pelo parágrafo</b>. Brasília: UNB, 1999.</li>
      <li>GARCIA, Othon Moacir. <b>Comunicação em prosa moderna</b>. Rio: FGV, 2010.</li>
    </ul>

  </article>
</div> <!-- Container -->
<br style="clear: both">
