<div class="container">
  <div class="row-offcanvas">
    <aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
      <ul class="menu">
        <li><%= link_to "Institucional" , institucional_path %></li>
        <li><%= link_to "EIA", institucional_eia_path %></li>
        <li><%= link_to "CCET", institucional_ccet_path %></li>
        <li class="ativo institucional"><%= link_to "UNIRIO", institucional_unirio_path %></li>
      </ul>
    </aside>


    <article class="col-sm-9 col-xs-12">

      <p class="pull-left visible-xs visible-sm">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Menu</span>
        </button>
      </p>

      <h1>UNIRIO - Universidade Federal do Estado do Rio de Janeiro</h1>

      <p>Por favor, não confunda a UNIRIO com a UFRJ nem com a UERJ! Diferentemente da UERJ, que é estadual, a UNIRIO é uma universidade federal tal como a UFRJ. Ambas universidades, UNIRIO e UFRJ, tem campi na Urca (praia vermelha), um campus ao lado do outro, mas são universidades federais distintas. Assista ao vídeo institucional para conhecer um pouco mais sobre a UNIRIO:</p>

      <p style="text-align: center;">
        <iframe width="560" height="315" src="//www.youtube.com/embed/tmvCl26I3KY" frameborder="0" allowfullscreen></iframe>
      </p>

      <p>Para mais informações, consulte o <a href="http://www.unirio.br" target="_blank">site da UNIRIO</a></p>


    </article>
  </div> <!-- row-offcanvas -->
</div> <!-- Container -->
<br style="clear: both">
