<% provide(:title,"Cadastrar Tipo de Solicitação") %>
<%= render partial: "menu", locals: {tipo: "cadastrarTipoSolicitacao"} %>

<h1>New solicitacao_tipo</h1>

<%= render 'form' %>

<%= link_to 'Back', solicitacao_tipos_path %>
