<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @solicitacao_tipo.tipo %>
</p>

<%= link_to 'Edit', edit_solicitacao_tipo_path(@solicitacao_tipo) %> |
<%= link_to 'Back', solicitacao_tipos_path %>
