<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
  <ul class="menu">
    <li class="<%=verificaMenuAtivo(tipo,"secretaria")%> secretaria">
      <%= link_to "Secretaria", secretaria_path %>
    </li>
    <li class=" <%=verificaMenuAtivo(tipo,"solicitacoes")%> secretaria">
      <%= link_to "Solicitações", solicitations_path %>
    </li>
  </ul>
</aside>