<% provide(:title,"Nova Solicitação") %>
<%= render partial: "menu", locals: {tipo: "novaSolicitacao"} %>
<article class="col-sm-9 col-xs-12">
<h1>Nova Solicitação</h1>

<%= render 'form' %>

</article>

<br style="clear: both">