<footer> 
    <div id="RodapeMenu">
    	<div id="facebook"><a href="https://www.facebook.com/bsiunirio"><%= image_tag("iFacebook.png", alt: "Facebook") %></a></div>
		<ul>
			<li><a href="..\bsi\index.html">BSI</a>
			<li><a href="..\disciplinas\index.html">DISCIPLINAS</a>
			<li><a href="..\professores\index.html">PROFESSORES</a>
			<li><a href="..\alunos\index.html">ALUNOS</a>
			<li><a href="..\oportunidades\index.html">OPORTUNIDADES</a>
			<li><a href="..\tcc\index.html">TCC</a>
			<li><a href="..\secretaria\index.html">SECRETARIA</a>
			<li><a href="..\institucional\index.html">INSTITUCIONAL</a>
			<li><a href="..\noticias\index.html">NOT&Iacute;CIAS</a>
		</ul>
	</div>	

	<div id="RodapeLocalizacao"><p><a href="https://maps.google.com.br/maps?q=bsi+unirio&hl=pt&ll=-22.916026,-43.2724&spn=0.343422,0.676346&sll=-22.916032,-43.447416&sspn=0.343422,0.676346&hq=bsi+unirio&t=m&z=11&iwloc=A" id="imgLocal"><%= image_tag("iLocal.png", alt: "mapa") %>CCET - Avenida Pasteur, 458 - Urca - Rio de Janeiro / RJ - CEP: 22290-240</a>
		<br>
		Telefone: (21)3873-6400</p>
	</div>		
</footer>