
<div class="container">
  <div class="row-offcanvas">
    <%= render partial: "menu", locals: {tipo: 'agenda'} %>


    <article class="col-sm-9 col-xs-12">

      <p class="pull-left visible-xs visible-sm">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Menu</span>
        </button>
      </p>

      <h1>Próximas Defesas</h1>

      <p>Agenda das próximas defesas de TCC. Assistir uma defesa é uma oportunidade para qualquer aluno aprender sobre um tema atual na área de Sistemas de Informação. Para os alunos em PG1, é uma obrigação assistir ao menos 3 defesas, pois é uma forma dele entender melhor o que se espera de um TCC e se preparar melhor para a sua futura defesa.</p>

    </article>
  </div> <!-- row-offcanvas -->
</div> <!-- Container -->
<br style="clear: both">
