<h1>Edição de TCC</h1>

<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
  <ul class="menu">
    <li class="ativo tcc"><%= link_to 'TCC', tccs_path %></li>
    <li><a href="tipos.html">Tipos de TCC</a></li>
    <li><a href="processo.html">Processo</a></li>
    <li><a href="modelo.html">Modelo</a></li>
    <li><a href="projetos.html">Projetos para TCC</a></li>
    <li><a href="publicacoes.html">Publicações</a></li>
    <li><a href="agenda.html">Próximas Defesas</a></li>
    <li><%= link_to "Cadastro de TCC", new_tcc_path %></li>
  </ul>
</aside>

<%= render 'form' %>