<h1>LISTAGEM DE TCCS</h1>
<div class="container">
  <div class="row-offcanvas">
    <%= render partial: "menu", locals: {tipo: 'index'} %>
    <ul>
      <% @tccs.each do |tcc| %>
          <li><%= link_to tcc.titulo, tcc %> </li>
      <% end %>
    </ul>
  </div>
</div>