
<% @tcc.each do |tcc| %>
<li>
  <p><%= tcc.titulo %> -> <%= tcc.user.email %> </p>
  <%= form_for tcc do |f| %>
      <p>
        <%= f.submit "Despublicar" %>
      </p>
  <% end %>
</li>
<% end  %>