<%= render partial: "menu", locals: {tipo: 'show'} %>
<% @tcc.each do |tcc| %>
<li>
  <p><%= tcc.titulo %> -> <%= tcc.user.email %> </p>
  <%= button_to "Desfazer publicação", tccs_desfaz_publicado_path(tcc.id) %>
  </li>
<% end  %>