<div class="container">
  <div class="row-offcanvas">
    <aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
      <ul class="menu">
        <li><a href="index.html">TCC</a></li>
        <li><a href="tipos.html">Tipos de TCC</a></li>
        <li><a href="processo.html">Processo</a></li>
        <li class="ativo tcc"><a href="modelo.html">Modelo</a></li>
        <li><a href="projetos.html">Projetos para TCC</a></li>
        <li><a href="publicacoes.html">Publicações</a></li>
        <li><a href="agenda.html">Próximas Defesas</a></li>
      </ul>
    </aside>


    <article class="col-sm-9 col-xs-12">

      <p class="pull-left visible-xs visible-sm">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Menu</span>
        </button>
      </p>

      <h1>Modelo de TCC</h1>

      <p>A monografia é o principal resultado de um projeto de conclusão de curso. O aluno deve conversar com seu orientador sobre o conteúdo e a extensão da monografia, mas geralmente o documento contém cerca de 50 páginas e é estruturado em 5 capítulos:</p>

      <ol>
        <li>Introdução (justificativa, objetivo(s), organização do texto)</li>
        <li>Revisão bibliográfica</li>
        <li>Proposta de trabalho</li>
        <li>Apresentação de resultados</li>
        <li>Conclusão (contribuições, trabalhos futuros)</li>
      </ol>

      <p>Os capítulos de introdução e conclusão tendem a ser pequenos, com cerca de 2 a 5 páginas cada, enquanto os capítulos centrais tendem a ter de 10 a 15 páginas cada. Esses são os valores esperados, mas a quantidade de páginas de cada capítulo depende do conteúdo e da quantidade de informação a ser apresentada. O texto é do gênero "redação científica", devendo seguir a norma culta da língua e devendo citar e referenciar textos de acordo com as normas ABNT. Os padrões de formatação do texto estão neste documento online: &lt;<a href="modeloTCCdoBSIUNIRIO.docx">modeloTCCdoBSIUNIRIO.docx</a>&gt;</p>


    </article>
  </div> <!-- row-offcanvas -->
</div> <!-- Container -->
<br style="clear: both">
