<div class="container">
  <div class="row-offcanvas">
    <%= render partial: "menu", locals: {tipo: 'projetos'} %>


    <article class="col-sm-9 col-xs-12">

      <p class="pull-left visible-xs visible-sm">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Menu</span>
        </button>
      </p>

      <h1>Projetos para TCC</h1>

      <p>Lista de projetos sugeridos pelos professores para os alunos desenvolverem TCCs.</p>

    </article>
  </div> <!-- row-offcanvas -->
</div> <!-- Container -->
<br style="clear: both">