<div class="container">
  <div class="row-offcanvas">
    <aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
      <ul class="menu">
        <li><a href="index.html">TCC</a></li>
        <li><a href="tipos.html">Tipos de TCC</a></li>
        <li><a href="processo.html">Processo</a></li>
        <li><a href="modelo.html">Modelo</a></li>
        <li class="ativo tcc"><a href="projetos.html">Projetos para TCC</a></li>
        <li><a href="publicacoes.html">Publicações</a></li>
        <li><a href="agenda.html">Próximas Defesas</a></li>
      </ul>
    </aside>


    <article class="col-sm-9 col-xs-12">

      <p class="pull-left visible-xs visible-sm">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Menu</span>
        </button>
      </p>

      <h1>Projetos para TCC</h1>

      <p>Lista de projetos sugeridos pelos professores para os alunos desenvolverem TCCs.</p>

    </article>
  </div> <!-- row-offcanvas -->
</div> <!-- Container -->
<br style="clear: both">