<div class="container">
  <div class="row-offcanvas">
    <%= render partial: "menu", locals: {tipo: 'tipos'} %>


    <article class="col-sm-9 col-xs-12">

      <p class="pull-left visible-xs visible-sm">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Menu</span>
        </button>
      </p>

      <h1>Tipos de TCC</h1>

      <p>Tipicamente, um TCC é sobre: (i) o desenvolvimento de algum sistema, (ii) um estudo de campo, ou (iii) um tema de ponta relacionado a Sistemas de Informação.</p>

      <p>O primeiro tipo de TCC envolve a implementação de um sistema ou o projeto de uma infraestrutura. Espera-se a construção de um recurso ao menos de médio porte que apresente dificuldades para as quais o aluno irá elaborar soluções. Espera-se também que o aluno use tecnologias que nem tenham sido abordadas durante o curso, de modo a mostrar que tem capacidade de continuar aprendendo por conta própria.</p>

      <p>O segundo tipo de TCC envolve um estudo de campo, geralmente com a aplicação de questionário, realização de entrevistas ou qualquer outro instrumento que possibilite um levantamento de opiniões ou de práticas sobre o uso de uma tecnologia, uma solução, um processo ou qualquer objeto de interesse relacionado a Sistemas de Informação. Espera-se que o autor desse tipo de TCC justifique a necessidade da pesquisa, apresente os instrumentos elaborados e relate de forma estruturada os resultados obtidos.</p>

      <p>Finalmente, o terceiro tipo de TCC envolve a apresentação e discussão de um tema de ponta na área de Sistemas de Informação. Neste caso, espera-se que o aluno leia diversos trabalhos recentes sobre o tema, seja capaz de resumir o histórico e discutir as tendências. O que se avalia, de fato, é a capacidade do aluno estruturar o discurso sobre o tema.</p>

      <p>Não há exigência de inovação num TCC, embora ela seja desejada.</p>

    </article>
  </div> <!-- row-offcanvas -->
</div> <!-- Container -->
<br style="clear: both">
