<h1> Parabéns</h1>
<p>
  Sua conta foi criada com sucesso. Você já pode começar a divulgar oportunidades.</p>
<p>

<p> 
  Basta realizar login com o seguinte e-mail e senha:
<p>
  Nome de usuário: <%= @user.email %>
</p>
<p>
  Senha: unirio123
</p>

<p>
  IMPORTANTE: Não se esqueça de modificar a sua senha padrão após realizar o primeiro login.
</p>
