<p>Olá,</p>
<p>
	Uma nova oportunidade foi cadastrada em nosso sistema.
</p>
<p> 
  	Visite nosso site para conferir ou clique<%= link_to('aqui.', oportunidade_url(@oportunidade), port:3000) %>.
</p>

