<p>Saudações <%= @resource.email %>!</p>

<p>
    Antes que você comece ou retorne a divulgar oportunidades de aprendizado em nosso sistema é necessário redefinir a sua senha 
    clicando no link abaixo
</p>

<p><%= link_to 'Mudar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Caso não tenha solicitado a troca de senha, por favor ignore este e-mail. </p>

<p>Att,</p>

<p>PortalBsi</p>
