<p>Seja Bem Vindo ao PortalBsi <%= @resource.email %>!</p>

<p>Antes de começar a divulgar oportunidades no nosso sistema, solicitamos que você redefina a sua senha no link abaixo:</p>

<p><%= link_to 'Mudar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Att,</p>

<p>PortalBsi</p>
