<% provide(:title, 'Carteirinha de Estudante') %>
<%= render partial: "menu", locals: {tipo: "carteirinha"} %>
<article class="col-sm-9 col-xs-12">

  <p>A Carteira de Identificação Estudantil é o documento que reconhece os alunos matriculados em estabelecimentos credenciados pelo Ministério da Educação (MEC). Além disso, ela garante o pagamento de meia-entrada em shows, salas de cinema e eventos culturais e esportivos em geral.</p>

  <p>No site <a href="http://www2.unirio.br/portal_do_aluno">Portal do Aluno</a> é realizada a impressão e a validação da carteira estudantil.

</article>

<br style="clear: both">