<% provide(:title, 'Diretório Academico') %>
<%= render partial: "menu", locals: {tipo: "diretorio"} %>
<article class="col-sm-9 col-xs-12">

  <h1>Diretório Acadêmico</h1>

  <p>O Diretório Acadêmico de Sistemas de Informção (DASI) é uma entidade estudantil formado por estudantes do curso de BSI. Sua função é representar os estudantes do curso Bacharelado de Sistemas de Informção da UNIRIO.</p>

  <p>A existência ativa do DASI permite que os estudantes tenham oficialmente voz dentro do estabelecimento de ensino, onde é a partir das articulações dos membros e a concessão direta da comunidade acadêmica, que permite o compartilhamento dos anseios, a busca por soluções e a elevada probabilidade de eficácia nos resultados. A Entidade desenvolve ainda atividades que visem proporcionar entretenimento à comunidade acadêmica, eventos de cunho informativo com o intuito de elevar intelectualmente o estudante, dentre outras ações.</p>

</article>

<br style="clear: both">