<% provide(:title, 'ENADE') %>
<%= render partial: "menu", locals: {tipo: "enade"} %>
<article class="col-sm-9 col-xs-12">

  <h1>ENADE</h1>

  <blockquote cite="http://portal.mec.gov.br/index.php?Itemid=313">O Exame Nacional de Desempenho de Estudantes (Enade) avalia o rendimento dos alunos dos cursos de graduação, ingressantes e concluintes, em relação aos conteúdos programáticos dos cursos em que estão matriculados. O exame é obrigatório para os alunos selecionados e condição indispensável para a emissão do histórico escolar. A periodicidade que cada área do conhecimento é avaliada é trienal. (<a href="http://portal.mec.gov.br/index.php?Itemid=313" target="_blank">ENADE-MEC</a>)</blockquote>

  <p>Aqui explicar qual é a importância do ENADE para o curso BSI, e mostrar a responsabilidade dos alunos na avaliação que impactará o diploma deles.</p>

</article>

<br style="clear: both">