<% provide(:title, 'Alunos Matriculados') %>
<%= render partial: "menu", locals: {tipo: "matriculados"} %>
<article class="col-sm-9 col-xs-12">

  <p><a href="Alunos_SI_2013.2.pdf"><img src="pdf.png"> Lista dos alunos matriculados no curso de bacharelado de sistemas de informação</a></p>

</article>

<br style="clear: both">