<% provide(:title, 'Portal do Aluno') %>
<%= render partial: "menu", locals: {tipo: "portal"} %>
<article class="col-sm-9 col-xs-12">

  <h1>Portal do Aluno</h1>

  <p>O Portal do Aluno permite que os alunos façam inclusão e exclusão de disciplinas de acordo com as datas estabelecidas pelo calendário acadêmico. Além disso, também é possível ter acesso a documentos como comprovante de matrícula, histórico escolar cr - aprovados, ficha cadastral do aluno, histórico escolar simplificado, integralização curricular, solicitação de matrícula, notas, calendário acadêmico, horários.</p>

  <p>Para mais informações consulte a página <a href="http://www2.unirio.br/portal_do_aluno">Portal do ALuno</a>.</p>

</article>

<br style="clear: both">