<% provide(:title, 'Turmas') %>
<%= render partial: "menu", locals: {tipo: "turmas"} %>
<article class="col-sm-9 col-xs-12">

  <h1>Turmas</h1>


  <p>Email do BSI CCET: bsi<img src="../uniriotecbr.png" alt="BSI Alunos"><br>
    Email do BSI Alunos: bsi-alunos<img src="../uniriotecbr.png" alt="BSI Alunos"><br>
    Email do BSI Professores: profBSI<img src="../uniriotecbr.png" alt="BSI Alunos"><br>
    Facebook do BSI: <a href="https://www.facebook.com/groups/bsi.unirio/">Sistemas de Informação Unirio</a>, <a href="https://www.facebook.com/groups/informatica.unirio/">Informática Unirio</a>, <a href="https://www.facebook.com/groups/estudantes.unirio/">Unirio</a>
  </p>

  <p><b>Turma 2014.1</b><br>
    Facebook: <a href="https://www.facebook.com/groups/654723007903993/">BSI 2014.1</a>
  </p>

  <p><b>Turma 2013.2</b><br>
    Facebook: <a href="https://www.facebook.com/groups/388951064559137/">BSI 2013.2</a>
  </p>

  <p><b>Turma 2013.1</b><br>
    Facebook: <a href="https://www.facebook.com/groups/unirio.bsi20131/">BSI 2013.1</a>
  </p>

  <p><b>Turma 2012.2</b><br>
    Facebook: <a href="https://www.facebook.com/groups/bsi2012.2unirio/">BSI 2012.2</a>
  </p>

  <p><b>Turma 2012.1</b><br>
    Facebook: <a href="https://www.facebook.com/groups/246904608734446/?fref=ts">BSI 2012.1</a>
  </p>

</article>

<br style="clear: both">