<% provide(:title,"Tags") %>

<article class="col-sm-9 col-xs-12">
  <h1>Listing tags</h1>

  <table>
    <thead>
    <tr>
      <th>Nome</th>
    </tr>
    </thead>

    <tbody>
    <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

</article>

<br style="clear: both">